﻿@model WebSite.Models.Pais

@{
    ViewBag.Title = "Paises Borrar";
    ViewBag.Modulo = "Paises";
}

<div class="card">
    <div class="card-body collapse show">
        <h4 class="card-title">Borrar</h4>
        <p class="card-text">¿Desea borrar este registro?</p>
        <hr />
        <ul style="list-style:none;">
            <li><strong>@Html.DisplayNameFor(model => model.CodeIso): </strong>@Html.DisplayFor(model => model.CodeIso)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Nombre): </strong>@Html.DisplayFor(model => model.Nombre)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Descripcion): </strong>@Html.DisplayFor(model => model.Descripcion)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Visible): </strong>@Html.DisplayFor(model => model.Visible)</li>
            <li><strong>@Html.DisplayNameFor(model => model.CreateDate): </strong>@Html.DisplayFor(model => model.CreateDate)</li>
            <li><strong>@Html.DisplayNameFor(model => model.UpdateDate): </strong>@Html.DisplayFor(model => model.UpdateDate)</li>
            <li><strong>@Html.DisplayNameFor(model => model.CreateUser): </strong>@Html.DisplayFor(model => model.CreateUser)</li>
            <li><strong>@Html.DisplayNameFor(model => model.UpdateUser): </strong>@Html.DisplayFor(model => model.UpdateUser)</li>

            <br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Borrar" class="mb-xs mt-xs mr-xs btn btn-danger" />
                @Html.ActionLink("Cancelar", "Listado", null, new { @class = "btn waves-effect waves-light btn-secondary" })
            }


        </ul>


    </div>
</div>
