﻿@model WebSite.Models.Pais


@{
    ViewBag.Title = "Paises Editar";
    ViewBag.Modulo = "Paises";
}

@section styles
{
<link rel="stylesheet" type="text/css" href="~/assets/libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css">
}

@using (Html.BeginForm("Editar", "Empresas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="form-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CodeIso, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.CodeIso, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CodeIso, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <!--/span-->

                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <br />
                                @Html.LabelFor(model => model.Visible, htmlAttributes: new { @class = "control-label" })
                                @Html.CheckBoxFor(model => model.Visible, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Visible, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                    <div class="form-actions mt-5">
                        <button type="submit" class="btn waves-effect waves-light btn-primary">Guardar</button>
                        @Html.ActionLink("Cancelar", "Listado", null, new { @class = "btn waves-effect waves-light btn-secondary" })
                    </div>

                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
</div>


}

@section Scripts {
<script src="~/assets/libs/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>

}
