﻿@model WebSite.Models.OrdenAnodizado

@{
    ViewBag.Title = "Orden de producción Borrar";
    ViewBag.Modulo = "Ordenes de producción";
}

<div class="card">
    <div class="card-body collapse show">
        <h4 class="card-title">Borrar</h4>
        <p class="card-text">¿Desea borrar este registro?</p>
        @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
      
            <br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Borrar" class="mb-xs mt-xs mr-xs btn btn-danger" />
                @Html.ActionLink("Cancelar", "Listado", null, new { @class = "btn waves-effect waves-light btn-secondary" })
            }
        </ul>


    </div>
</div>
