﻿@model WebSite.Models.OrdenAnodizado

@{
    /**/

    ViewBag.Title = "Crear";
    ViewBag.Modulo = "Ordenes de Producción";
}

<style>
    .pic {
        width: 200px;
    }

    .zoom {
        position: absolute;
        width: 0px;
        -webkit-transition: width 0.3s linear 0s;
        transition: width 0.3s linear 0s;
        z-index: 10;
    }

    .pic:hover + .zoom {
        width: 500px;
    }

    .transparente {
        background-color: transparent;
        border: 0px solid;
    }
</style>

<div id="divEncabezado" class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                @Html.HiddenFor(model => model.Code)

                <div class="form-body">
                    <h5 class="card-title">Orden de Producci&oacute;n</h5>
                    <hr>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "font-size:12px;" } })
                                @Html.ValidationMessage("CodeVal", "", new { @id = "CodeVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ClienteCode, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.ClienteCode, (IEnumerable<SelectListItem>)ViewBag.Clientes, "-- Seleccione --", new { @class = "form-control", @style = "font-size:12px;" })
                                @Html.ValidationMessage("ClienteCodeVal", "", new { @id = "ClienteCodeVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.OrdenTrabajo, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.OrdenTrabajo, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;" } })
                                @Html.ValidationMessage("OrdenTrabajoVal", "", new { @id = "OrdenTrabajoVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NumeroLote, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.NumeroLote, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;", @readonly = "readonly" } })
                                @Html.ValidationMessage("NumeroLoteVal", "", new { @id = "NumeroLoteVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CantidadTotalLotes, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.CantidadTotalLotes, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;" } })
                                @Html.ValidationMessage("CantidadTotalLotesVal", "", new { @id = "CantidadTotalLotesVal", @class = "text-danger" })
                            </div>
                        </div>


                    </div>   <!--/row-->

                    <div class="row">

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CantidadTotal, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.CantidadTotal, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;" } })
                                @Html.ValidationMessage("CantidadTotalVal", "", new { @id = "CantidadTotalVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FichaCode, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.FichaCode, (IEnumerable<SelectListItem>)ViewBag.FichasTecnicas, "-- Seleccione --", new { @class = "form-control", @style = "font-size:12px;" })
                                @Html.ValidationMessage("FichaCodeVal", "", new { @id = "FichaCodeVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.RevisionPlano, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.RevisionPlano, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;" } })
                                @Html.ValidationMessage("RevisionPlanoVal", "", new { @id = "RevisionPlanoVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TipoTratamiento, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.TipoTratamiento, (IEnumerable<SelectListItem>)ViewBag.TiposTratamiento, "-- Seleccione --", new { @class = "form-control", @style = "font-size:12px;" })
                                @Html.ValidationMessage("TipoTratamientoVal", "", new { @id = "TipoTratamientoVal", @class = "text-danger" })
                            </div>
                        </div>


                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Fecha&nbsp;Vencimiento</label>
                                @Html.EditorFor(model => model.FechaVencimiento, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;" } })
                                @Html.ValidationMessage("FechaVencimientoVal", "", new { @id = "FechaVencimientoVal", @class = "text-danger" })
                            </div>
                        </div>

                    </div>   <!--/row-->

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TipoPrioridadCode, htmlAttributes: new { @class = "control-label" })

                                @Html.DropDownListFor(model => model.TipoPrioridadCode, (IEnumerable<SelectListItem>)ViewBag.TiposPrioridad, "-- Seleccione --", new { @class = "form-control", @style = "font-size:12px;" })
                                @Html.ValidationMessage("TipoPrioridadCodeVal", "", new { @id = "TipoPrioridadCodeVal", @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                </div>


                <div class="form-actions mt-5">
                    <button id="btnGuardarEncabezado" class="btn waves-effect waves-light btn-primary" onclick="GuardarEncabezado();">Guardar</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Column -->
</div>



<div id="divRecibo" class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <div class="form-body">
                    <h5 class="card-title">Inspecci&oacute;n Recibo</h5>
                    <hr>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.RecibidoCodigo, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.RecibidoCodigo, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;" } })
                                @Html.ValidationMessage("RecibidoCodigoVal", "", new { @id = "RecibidoCodigoVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.RecibidoCantidad, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.RecibidoCantidad, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;" } })
                                @Html.ValidationMessage("RecibidoCantidadVal", "", new { @id = "RecibidoCantidadVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.RecibidoMedidasCriticas, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.RecibidoMedidasCriticas, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;" } })
                                @Html.ValidationMessage("RecibidoMedidasCriticasVal", "", new { @id = "RecibidoMedidasCriticasVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.RecibidoResponsable, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.RecibidoResponsable, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;", @readonly = "readonly" } })
                                @Html.ValidationMessage("RecibidoResponsableVal", "", new { @id = "RecibidoResponsableVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.RecibidoFecha, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.RecibidoFecha, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;" } })
                                @Html.ValidationMessage("RecibidoFechaVal", "", new { @id = "RecibidoFechaVal", @class = "text-danger" })
                            </div>
                        </div>

                    </div>   <!--/row-->


                </div>

                <div class="row">

                </div>

                <div class="form-actions mt-5">
                    <button onclick="GuardarInspeccionRecibo();" class="btn waves-effect waves-light btn-primary">Guardar</button>
                    <button class="btn waves-effect waves-light btn-primary" data-toggle="modal" data-target="#modal-recibo">Fotos</button>
                    <button class="btn waves-effect waves-light btn-primary" data-toggle="modal" data-target="#modal-responsables" onclick="CargarListadoUsuarios('RecibidoResponsable')">Responsable</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Column -->
</div>




<div id="divRaqueo" class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <div class="form-body">
                    <h5 class="card-title">Raqueo</h5>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.RaqueoRecomendacion, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.RaqueoRecomendacion, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;" } })
                                @Html.ValidationMessage("RaqueoRecomendacionVal", "", new { @id = "RaqueoRecomendacionVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.RaqueoCantidad, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.RaqueoCantidad, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;"} })
                                @Html.ValidationMessage("RaqueoCantidadVal", "", new { @id = "RaqueoCantidadVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.RaqueoResponsable, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.RaqueoResponsable, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;", @readonly = "readonly" } })
                                @Html.ValidationMessage("RaqueoResponsableVal", "", new { @id = "RaqueoResponsableVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.RaqueoFecha, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.RaqueoFecha, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;" } })
                                @Html.ValidationMessage("RaqueoFechaVal", "", new { @id = "RaqueoFechaVal", @class = "text-danger" })
                            </div>
                        </div>

                    </div>   <!--/row-->


                </div>


                <div class="form-actions mt-5">
                    <button onclick="GuardarRaqueo();" class="btn waves-effect waves-light btn-primary">Guardar</button>
                    <button class="btn waves-effect waves-light btn-primary" data-toggle="modal" data-target="#modal-raqueo">Fotos</button>
                    <button class="btn waves-effect waves-light btn-primary" data-toggle="modal" data-target="#modal-responsables" onclick="CargarListadoUsuarios('RaqueoResponsable')">Responsable</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Column -->
</div>



<div id="divProceso" class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <div class="form-body">
                    <div class="row">
                        <table class="table table-bordered table-responsive-md table-striped text-center">
                            <thead>
                                <!-- Encabezados -->
                                <tr>
                                    <th class="text-center">Control de Proceso</th>
                                    <th class="text-center">Tiempo</th>
                                    <th class="text-center">Numero Tanque</th>
                                    <th class="text-center">Hora Inicio</th>
                                    <th class="text-center">Hora Final</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Tiempo de desangre -->
                                <tr>
                                    <td class="pt-3-half" contenteditable="false">Tiempo desengrase</td>
                                    <td class="pt-3-half" contenteditable="true" id="ProcesoDesengraseMinutos">@Model.ProcesoDesengraseMinutos</td>
                                    <td class="pt-3-half" contenteditable="true" id="ProcesoDesengraseTanque">@Model.ProcesoDesengraseTanque</td>

                                    @{
                                        var desengraseInicio = "";
                                        var desengraseFinal = "";

                                        if (Model.ProcesoDesengraseHoraInicio != null)
                                        {
                                            var temp = Model.ProcesoDesengraseHoraInicio.ToString();
                                            var tempDate = Convert.ToDateTime(temp);

                                            desengraseInicio = tempDate.Hour + ":" + tempDate.Minute;
                                        }

                                        if (Model.ProcesoDesengraseHoraFinal != null)
                                        {
                                            var temp = Model.ProcesoDesengraseHoraFinal.ToString();
                                            var tempDate = Convert.ToDateTime(temp);

                                            desengraseFinal = tempDate.Hour + ":" + tempDate.Minute;
                                        }
                                    }

                                    <td class="pt-3-half" contenteditable="false"><input id="ProcesoDesangreHoraInicio" type="time" value="@desengraseInicio" class="form-control transparente" /></td>
                                    <td class="pt-3-half" contenteditable="false"><input id="ProcesoDesangreHoraHoraFinal" type="time" value="@desengraseFinal" class="form-control transparente" /></td>
                                </tr>
                                <!-- Etching -->
                                <tr>
                                    <td class="pt-3-half" contenteditable="false">T. Inmsersion etching</td>
                                    <td class="pt-3-half" contenteditable="true" id="ProcesoEtching">@Model.ProcesoEtching</td>
                                    <td class="pt-3-half" contenteditable="true" id="ProcesoEtchingTanque">@Model.ProcesoEtchingTanque</td>

                                    @{
                                        var etchingInicio = "";
                                        var etchingFinal = "";

                                        if (Model.ProcesoEtchingHoraInicial != null)
                                        {
                                            var temp = Model.ProcesoEtchingHoraInicial.ToString();
                                            var tempDate = Convert.ToDateTime(temp);

                                            etchingInicio = tempDate.Hour + ":" + tempDate.Minute;
                                        }

                                        if (Model.ProcesoEtchingHoraFinal != null)
                                        {
                                            var temp = Model.ProcesoEtchingHoraFinal.ToString();
                                            var tempDate = Convert.ToDateTime(temp);

                                            etchingFinal = tempDate.Hour + ":" + tempDate.Minute;
                                        }
                                    }

                                    <td class="pt-3-half" contenteditable="false"><input id="ProcesoEtchingHoraInicial" type="time" value="@etchingInicio" class="form-control transparente" /></td>
                                    <td class="pt-3-half" contenteditable="false"><input id="ProcesoEtchingHoraFinal" type="time" value="@etchingFinal" class="form-control transparente" /></td>
                                </tr>
                                <!-- Amperaje -->
                                <tr>
                                    <td class="pt-3-half" contenteditable="false">Amperaje o voltaje aplicado</td>
                                    <td class="pt-3-half" contenteditable="true" id="ProcesoAmperaje">@Model.ProcesoAmperaje</td>
                                    <td class="pt-3-half" contenteditable="true" id="ProcesoAmperajeTanque">@Model.ProcesoAmperajeTanque</td>

                                    @{
                                        var amperajeInicio = "";
                                        var amperajeFinal = "";

                                        if (Model.ProcesoAmperajeHoraInicio != null)
                                        {
                                            var temp = Model.ProcesoAmperajeHoraInicio.ToString();
                                            var tempDate = Convert.ToDateTime(temp);

                                            amperajeInicio = tempDate.Hour + ":" + tempDate.Minute;
                                        }

                                        if (Model.ProcesoAmperajeHoraFinal != null)
                                        {
                                            var temp = Model.ProcesoAmperajeHoraFinal.ToString();
                                            var tempDate = Convert.ToDateTime(temp);

                                            amperajeFinal = tempDate.Hour + ":" + tempDate.Minute;
                                        }
                                    }

                                    <td class="pt-3-half" contenteditable="false"><input id="ProcesoAmperajeHoraInicio" type="time" value="@amperajeInicio" class="form-control transparente" /></td>
                                    <td class="pt-3-half" contenteditable="false"><input id="ProcesoAmperajeHoraFinal" type="time" value="@amperajeFinal" class="form-control transparente" /></td>
                                </tr>
                                <!-- Anodizado -->
                                <tr>
                                    <td class="pt-3-half" contenteditable="false">Tiempo anodizado</td>
                                    <td class="pt-3-half" contenteditable="true" id="ProcesoAnodizadoMinutos">@Model.ProcesoAnodizadoMinutos</td>
                                    <td class="pt-3-half" contenteditable="true" id="ProcesoAnodizadoTanque">@Model.ProcesoAnodizadoTanque</td>

                                    @{
                                        var anodizadoInicio = "";
                                        var anodizadoFinal = "";

                                        if (Model.ProcesoAnodizadoHoraInicio != null)
                                        {
                                            var temp = Model.ProcesoAnodizadoHoraInicio.ToString();
                                            var tempDate = Convert.ToDateTime(temp);

                                            anodizadoInicio = tempDate.Hour + ":" + tempDate.Minute;
                                        }

                                        if (Model.ProcesoAnodizadoHoraFinal != null)
                                        {
                                            var temp = Model.ProcesoAnodizadoHoraFinal.ToString();
                                            var tempDate = Convert.ToDateTime(temp);

                                            anodizadoFinal = tempDate.Hour + ":" + tempDate.Minute;
                                        }
                                    }

                                    <td class="pt-3-half" contenteditable="false"><input id="ProcesoAnodizadoHoraInicio" type="time" value="@anodizadoInicio" class="form-control transparente" /></td>
                                    <td class="pt-3-half" contenteditable="false"><input id="ProcesoAnodizadoHoraFinal" type="time" value="@anodizadoFinal" class="form-control transparente" /></td>
                                </tr>

                                <!-- Tinta -->
                                <tr>
                                    <td class="pt-3-half" contenteditable="false">Tiempo inmersion tinta</td>
                                    <td class="pt-3-half" contenteditable="true" id="ProcesoTintaMinutos">@Model.ProcesoTintaMinutos</td>
                                    <td class="pt-3-half" contenteditable="true" id="ProcesoTintaTanque">@Model.ProcesoTintaTanque</td>

                                    @{
                                        var tintaInicio = "";
                                        var tintaFinal = "";

                                        if (Model.ProcesoAnodizadoHoraInicio != null)
                                        {
                                            var temp = Model.ProcesoAnodizadoHoraInicio.ToString();
                                            var tempDate = Convert.ToDateTime(temp);

                                            tintaInicio = tempDate.Hour + ":" + tempDate.Minute;
                                        }

                                        if (Model.ProcesoAnodizadoHoraFinal != null)
                                        {
                                            var temp = Model.ProcesoAnodizadoHoraFinal.ToString();
                                            var tempDate = Convert.ToDateTime(temp);

                                            tintaFinal = tempDate.Hour + ":" + tempDate.Minute;
                                        }
                                    }

                                    <td class="pt-3-half" contenteditable="false"><input id="ProcesoTintaHoraInicio" type="time" value="@tintaInicio" class="form-control transparente" /></td>
                                    <td class="pt-3-half" contenteditable="false"><input id="ProcesoTintaHoraFinal" type="time" value="@tintaFinal" class="form-control transparente" /></td>
                                </tr>

                                <!-- Sello -->
                                <tr>
                                    <td class="pt-3-half" contenteditable="false">Tiempo inmersion sello</td>
                                    <td class="pt-3-half" contenteditable="true" id="ProcesoSelloMinutos">@Model.ProcesoSelloMinutos</td>
                                    <td class="pt-3-half" contenteditable="true" id="ProcesoSelloTanque">@Model.ProcesoSelloTanque</td>

                                    @{
                                        var selladoInicio = "";
                                        var salladoFinal = "";

                                        if (Model.ProcesoSelloHoraInicial != null)
                                        {
                                            var temp = Model.ProcesoSelloHoraInicial.ToString();
                                            var tempDate = Convert.ToDateTime(temp);

                                            selladoInicio = tempDate.Hour + ":" + tempDate.Minute;
                                        }

                                        if (Model.ProcesoSelloHoraFinal != null)
                                        {
                                            var temp = Model.ProcesoSelloHoraFinal.ToString();
                                            var tempDate = Convert.ToDateTime(temp);

                                            salladoFinal = tempDate.Hour + ":" + tempDate.Minute;
                                        }
                                    }

                                    <td class="pt-3-half" contenteditable="false"><input id="ProcesoSelloHoraInicial" type="time" value="@selladoInicio" class="form-control transparente" /></td>
                                    <td class="pt-3-half" contenteditable="false"><input id="ProcesoSelloHoraFinal" type="time" value="@salladoFinal" class="form-control transparente" /></td>
                                </tr>

                                <!-- Otros -->
                                <tr>
                                    <td class="pt-3-half" contenteditable="true" id="ProcesoOtros">Otros: @Model.ProcesoOtros</td>
                                    <td class="pt-3-half" contenteditable="true" id="ProcesoOtrosMinutos">@Model.ProcesoOtrosMinutos</td>
                                    <td class="pt-3-half" contenteditable="true" id="ProcesoOtrosTanque">@Model.ProcesoOtrosTanque</td>

                                    @{
                                        var otrosInicio = "";
                                        var otrosFinal = "";

                                        if (Model.ProcesoOtrosHoraInicial != null)
                                        {
                                            var temp = Model.ProcesoOtrosHoraInicial.ToString();
                                            var tempDate = Convert.ToDateTime(temp);

                                            otrosInicio = tempDate.Hour + ":" + tempDate.Minute;
                                        }

                                        if (Model.ProcesoOtrosHoraFinal != null)
                                        {
                                            var temp = Model.ProcesoOtrosHoraFinal.ToString();
                                            var tempDate = Convert.ToDateTime(temp);

                                            otrosFinal = tempDate.Hour + ":" + tempDate.Minute;
                                        }
                                    }

                                    <td class="pt-3-half" contenteditable="false"><input id="ProcesoOtrosHoraInicial" type="time" value="@otrosInicio" class="form-control transparente" /></td>
                                    <td class="pt-3-half" contenteditable="false"><input id="ProcesoOtrosHoraFinal" type="time" value="@otrosFinal" class="form-control transparente" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProcesoCiudadosEspeciales, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.ProcesoCiudadosEspeciales, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;" } })
                                @Html.ValidationMessageFor(model => model.ProcesoCiudadosEspeciales, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProcesoResponsable, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.ProcesoResponsable, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;", @readonly = "readonly" } })
                                @Html.ValidationMessage("ProcesoResponsableVal", "", new { @id = "ProcesoResponsableVal", @class = "text-danger" })
                            </div>
                        </div>

                    </div>   <!--/row-->


                </div>


                <div class="form-actions mt-5">
                    <button onclick="GuardarProceso();" class="btn waves-effect waves-light btn-primary">Guardar</button>
                    <button class="btn waves-effect waves-light btn-primary" data-toggle="modal" data-target="#modal-responsables" onclick="CargarListadoUsuarios('ProcesoResponsable')">Responsable</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Column -->
</div>






<div id="divSalida" class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <div class="form-body">
                    <h5 class="card-title">Inspecci&oacute;n de Salida</h5>
                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SalidaCriteriosAceptacion, htmlAttributes: new { @class = "control-label" })
                                @Html.TextAreaFor(model => model.SalidaCriteriosAceptacion, new { @class = "form-control", placeholder = "Criterios de aceptación" })
                                @Html.ValidationMessageFor(model => model.SalidaCriteriosAceptacion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SalidaCantiAprobada, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.SalidaCantiAprobada, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;" } })
                                @Html.ValidationMessage("SalidaCantiAprobadaVal", "", new { @id = "SalidaCantiAprobadaVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SalidaCantiRechazada, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.SalidaCantiRechazada, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;" } })
                                @Html.ValidationMessage("SalidaCantiRechazadaVal", "", new { @id = "SalidaCantiRechazadaVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SalidaCausas, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.SalidaCausas, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;" } })
                                @Html.ValidationMessage("SalidaCausasVal", "", new { @id = "SalidaCausasVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SalidaAccion, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.SalidaAccion, (IEnumerable<SelectListItem>)ViewBag.AccionesSalida, "-- Seleccione --", new { @class = "form-control", @style = "font-size:12px;" })
                                @Html.ValidationMessage("SalidaAccionVal", "", new { @id = "SalidaAccionVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <br />
                                @Html.LabelFor(model => model.SalidaAprobadas, htmlAttributes: new { @class = "control-label" })
                                @Html.CheckBoxFor(model => model.SalidaAprobadas, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;" } })
                                @Html.ValidationMessage("SalidaAprobadasVal", "", new { @id = "SalidaAprobadasVal", @class = "text-danger" })
                            </div>
                        </div>

                    </div>   <!--/row-->

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SalidaResponsable, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.SalidaResponsable, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;", @readonly = "readonly" } })
                                @Html.ValidationMessage("SalidaResponsableVal", "", new { @id = "SalidaResponsableVal", @class = "text-danger" })
                            </div>
                        </div>


                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SalidaFecha, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.SalidaFecha, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;" } })
                                @Html.ValidationMessage("SalidaFechaVal", "", new { @id = "SalidaFechaVal", @class = "text-danger" })
                            </div>
                        </div>
                    </div>


                </div>


                <div class="form-actions mt-5">
                    <button onclick="GuardarSalida();" class="btn waves-effect waves-light btn-primary">Guardar</button>
                    <button class="btn waves-effect waves-light btn-primary" data-toggle="modal" data-target="#modal-salida">Fotos</button>
                    <button class="btn waves-effect waves-light btn-primary" data-toggle="modal" data-target="#modal-responsables" onclick="CargarListadoUsuarios('SalidaResponsable')">Responsable</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Column -->
</div>




<div id="divEmpaque" class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <div class="form-body">
                    <h5 class="card-title">Empaque</h5>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.EmpaqueRecomendacion, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.EmpaqueRecomendacion, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;" } })
                                @Html.ValidationMessage("EmpaqueRecomendacionVal", "", new { @id = "EmpaqueRecomendacionVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.EmpaqueCantidad, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.EmpaqueCantidad, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;" } })
                                @Html.ValidationMessage("EmpaqueCantidadVal", "", new { @id = "EmpaqueCantidadVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.EmpaqueResponsable, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.EmpaqueResponsable, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;", @readonly = "readonly" } })
                                @Html.ValidationMessage("EmpaqueResponsableVal", "", new { @id = "EmpaqueResponsableVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.EmpaqueFecha, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.EmpaqueFecha, new { htmlAttributes = new { @class = "form-control", @style = "font-size:12px;" } })
                                @Html.ValidationMessage("EmpaqueFechaVal", "", new { @id = "EmpaqueFechaVal", @class = "text-danger" })
                            </div>
                        </div>

                    </div>   <!--/row-->
                </div>


                <div class="form-actions mt-5">
                    <button onclick="GuardarEmpaque();" class="btn waves-effect waves-light btn-primary">Guardar</button>
                    <button class="btn waves-effect waves-light btn-primary" data-toggle="modal" data-target="#modal-empaque">Fotos</button>
                    <button class="btn waves-effect waves-light btn-primary" data-toggle="modal" data-target="#modal-responsables" onclick="CargarListadoUsuarios('EmpaqueResponsable')">Responsable</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Column -->
</div>





<div id="divDespacho" class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <div class="form-body">
                    <h5 class="card-title">Despacho</h5>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DespachoCantidad, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.DespachoCantidad, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessage("DespachoCantidadVal", "", new { @id = "DespachoCantidadVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DespachoCertificado, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.DespachoCertificado, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessage("DespachoCertificadoVal", "", new { @id = "DespachoCertificadoVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DespachoFactura, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.DespachoFactura, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessage("DespachoFacturaVal", "", new { @id = "DespachoFacturaVal", @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DespachoResponsable, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.DespachoResponsable, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessage("DespachoResponsableVal", "", new { @id = "DespachoResponsableVal", @class = "text-danger"})
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DespachoFecha, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.DespachoFecha, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessage("DespachoFechaVal", "", new { @id = "DespachoFechaVal", @class = "text-danger" })
                            </div>
                        </div>

                    </div>   <!--/row-->
                </div>

                <div class="form-actions mt-5">
                    <button onclick="GuardarDespacho();" class="btn waves-effect waves-light btn-primary">Guardar</button>
                    <button class="btn waves-effect waves-light btn-primary" data-toggle="modal" data-target="#modal-responsables" onclick="CargarListadoUsuarios('DespachoResponsable')">Responsable</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Column -->
</div>

<center>R4-PC1 VERSION2</center>


<div id="modal-responsables" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Responsable</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

            </div>
            <div id="divResponsablesTabla" class="modal-body">

                <div class="table-responsive">

                    <table id="zero_config" class="table table-striped border">

                        <thead>
                            <tr>
                                <th>
                                    Cédula
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody id="divRowsResponsables"></tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    Cédula
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>

                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div id="divResponsablesClave" class="modal-body">
            </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->




<div id="modal-recibo" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Fotos Inspecci&oacute;n Recibo</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                @*<h4 class="modal-title" id="exampleModalLabel1">Estado de confirmaci&oacute;n</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
            </div>
            <div class="modal-body">
                <div id="imgs-recibo">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div id="modal-raqueo" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Fotos Raqueo</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                @*<h4 class="modal-title" id="exampleModalLabel1">Estado de confirmaci&oacute;n</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
            </div>
            <div class="modal-body">

                <div id="imgs-raqueo">

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="modal-salida" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Fotos Salida</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                @*<h4 class="modal-title" id="exampleModalLabel1">Estado de confirmaci&oacute;n</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
            </div>
            <div class="modal-body">
                <div id="imgs-salida">

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="modal-empaque" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Fotos Empaque</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                @*<h4 class="modal-title" id="exampleModalLabel1">Estado de confirmaci&oacute;n</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
            </div>
            <div class="modal-body">
                <div id="imgs-empaque">

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



@section scripts {
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <!--This page plugins -->
    <script src="~/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/js/pages/datatable/datatable-basic.init.js"></script>

    <script type="text/javascript">

        //funcion que sirve para bloquear el combobox de ficha
        //esto en caso de que no se haya seleccionado un cliente
        BloquearSelect("#FichaCode");
        DesactivarSecciones();

        //funcion para bloquear elementos del dom
        function BloquearSelect(ElementID) {
            $(ElementID).empty();
            $(ElementID).prop("disabled", true);
        }

        //evento que se activa al cambiar la opcion en el listado de clientes
        //carga las fichas tecnicas respectivas al cliente
        $("#ClienteCode").change(function () {

            var clienteCode = $("#ClienteCode").val();

            if (clienteCode == "") {
                BloquearSelect("#FichaCode");
            }
            else {
                GetListadoFichasTecnicas(clienteCode);
            }
        });

        //obtiene el listado de las fichas tecnicas del cliente
        function GetListadoFichasTecnicas(ClienteCode) {
            $.getJSON(dominio + "FichasTecnicas/ListadoJSON?ClienteCode=" + ClienteCode, function (data) {

                var $dropdown = $("#FichaCode");
                $dropdown.prop("disabled", false);
                $dropdown.empty();
                $dropdown.append($("<option />").val(0).text("-- Seleccione --"));

                $.each(data, function (key, val) {
                    $dropdown.append($("<option />").val(val["code"]).text(val["codigo"]));
                });
            });
        }

        //obtiene el listado de usuarios
        function CargarListadoUsuarios(idTxtResponsable) {
            $("#divResponsablesTabla").show();
            $("#divResponsablesClave").hide();

            var dominio = "http://" + window.location.hostname + ":" + window.location.port + "/";

            $.getJSON(dominio + "Usuarios/ListadoJSON", function (data) {

                var divUsuarios = document.getElementById("divRowsResponsables");
                var usuariosHtml = '';

                $.each(data, function (key, val) {

                    var code = val.code;
                    var cedula = val.cedula;
                    var nombre = val.nombre;
                    var apellido1 = val.apellido1;
                    var apellido2 = val.apellido2;
                    var nombreUsuario = val.nombreUsuario;
                    var nombreCompleto = nombre + " " + apellido1 + " " + apellido2;

                    idTxtResponsable = "'" + idTxtResponsable + "'";

                    var comilla = "'";

                    usuariosHtml += '<tr><td>' + cedula + '</td><td>' + nombreCompleto + '</td><td><button class="btn btn-primary" onclick="FormularioValidarUsuario(' + code + ', ' + cedula + ', ' + comilla + nombreCompleto + comilla + ', ' + comilla + nombreUsuario + comilla + ', ' + idTxtResponsable +');" >Seleccionar</button></td></tr>';

                });

                divUsuarios.innerHTML = usuariosHtml;

            });
        }

        //funcion que muestra el formulario de validar usuario
        function FormularioValidarUsuario(code, cedula, nombre, nombreUsuario, idTxtResponsable) {
            $("#divResponsablesTabla").hide();
            $("#divResponsablesClave").show();
            var divUsuarios = document.getElementById("divResponsablesClave");

            var nombreUsuario = "'" + nombreUsuario + "'";
            idTxtResponsable = "'" + idTxtResponsable + "'";

            var divInicio = '<div class="row"><div class="col-md-6">';
            var inputCode = '<input id="txtCodeUsuario" style="display:none" type="text" value="' + code + '" />';
            var labelCedula = '<label><strong>Cédula: </strong>' + cedula + '</label>';
            var labelnombre = '<label><strong>Nombre: </strong>' + nombre + '</label>';
            var labelPIN = '<label><strong>Clave: </strong></label>';

            var clave = "$('#txtClave').val()";
            var inputClave = '<input id="txtClave" type="password" class="form-control" placeholder="Ingrese la clave" />';
            var botonAceptar = '<button class="btn btn-primary" onclick="ValidarClave(' + cedula + ', ' + clave + ', ' + nombreUsuario + ', ' + idTxtResponsable + ')">Aceptar</button>';

            var atras = '<button class="btn btn-secondary" onclick="CargarListadoUsuarios();">Atrás</button>';
            var divFin = '</div></div>';


            divUsuarios.innerHTML = divInicio + inputCode + "</br>" + labelCedula + "</br>" + labelnombre + "</br>" + inputClave + "</br>" + "</br>" + botonAceptar + " " + atras+ divFin;
        }

        //funcion que sirve para validar el usuario
        function ValidarClave(cedula, txtClave, nombreUsuario, idTxtResponsable) {
            //alert(cedula + ", " + txtClave);

            $.get(dominio + "Usuarios/ValidarUsuario?cedula=" + cedula + "&clave=" + txtClave, function (data) {

                if (data + "" == "True") {
                    $("#txtClave").val("");
                    $("#" + idTxtResponsable).val(nombreUsuario);
                    $('#modal-responsables').modal('toggle');
                    CargarListadoUsuarios();
                }
                else {
                    alert("Clave invalida por favor volver a intentar");
                    $("#txtClave").val("");
                }
                

            });
        }

        //funcion que sirve para limpiar los datos respectivos a la ficha
        function LimpiandoDatosFicha() {
            $("#RevisionPlano").val("");

            //recibo
            $("#RecibidoMedidasCriticas").val("");

            //raqueo
            $("#RaqueoRecomendacion").val("");

            //proceso
            $("#ProcesoDesengraseMinutos").html("");
            $("#ProcesoEtching").html("");
            $("#ProcesoAmperaje").html("");
            $("#ProcesoAnodizadoMinutos").html("");
            $("#ProcesoTintaMinutos").html("");
            $("#ProcesoSelloMinutos").html("");
            $("#ProcesoOtros").html("");
            $("#ProcesoCiudadosEspeciales").val("");

            //salida
            $("#SalidaCriteriosAceptacion").val("");

            //empaque
            $("#EmpaqueRecomendacion").val("");
            LimpiarFotos();
        }


        //evento que se activa cuando cambian el comobox de ficha
        $("#FichaCode").change(function () {

            var fichaCode = $("#FichaCode").val();

            if (fichaCode == "" || fichaCode.toString() == "0") {
                LimpiandoDatosFicha();
            }
            else {
                CargarDatosFicha(fichaCode);
            }
        });

        //funcion que funciona cuando se seleciona una ficha tecnica carga la informacion en la orden
        function CargarDatosFicha(fichaCode) {

            $.getJSON(dominio + "FichasTecnicas/DetalleJson?id=" + fichaCode, function (data) {

                //REVISON PLANO Y TIPO DE TRATAMIENTO

                //encabezado
                $("#TipoTratamiento").val(data["tipoTratamientoCode"]).change();;
                $("#RevisionPlano").val(data["revisionPlano"]);

                //recibo
                $("#RecibidoMedidasCriticas").val(data["reciboMedidaCriticas"]);

                //raqueo
                $("#RaqueoRecomendacion").val(data["raqueoRecomendacion"]);

                //proceso
                $("#ProcesoDesengraseMinutos").html(data["tiempoDesengrase"]);
                $("#ProcesoEtching").html(data["tiempoEtching"]);
                $("#ProcesoAmperaje").html(data["amperajeVoltaje"]);
                $("#ProcesoAnodizadoMinutos").html(data["tiempoAnodizado"]);
                $("#ProcesoTintaMinutos").html(data["tiempoTinta"]);
                $("#ProcesoSelloMinutos").html(data["tiempoSello"]);
                $("#ProcesoOtros").html(data["otros"]);
                $("#ProcesoCiudadosEspeciales").val(data["cuidadosEspeciales"]);

                //salida
                $("#SalidaCriteriosAceptacion").val(data["salidaCriteriosAceptacion"]);

                //empaque
                $("#EmpaqueRecomendacion").val(data["empaqueRecomendacion"]);
            });

            CargarFotos(fichaCode, "FotosRecibo", "imgs-recibo");
            CargarFotos(fichaCode, "FotosRaqueo", "imgs-raqueo");
            CargarFotos(fichaCode, "FotosSalida", "imgs-salida");
            CargarFotos(fichaCode, "FotosEmpaque", "imgs-empaque");
        }

        //metodo que sirve para limpiar las fotos
        function LimpiarFotos() {
            LimpiarDiv("imgs-recibo");
            LimpiarDiv("imgs-raqueo");
            LimpiarDiv("imgs-salida");
            LimpiarDiv("imgs-empaque");
        }

        //limpiar div
        function LimpiarDiv(divImgs) {
            var divImagenes = document.getElementById(divImgs);
            divImagenes.innerHTML = "";
        }

        //funcion que sirve para cargar las fotos
        function CargarFotos(fichaCode, tipoFoto, divImgs) {

            $.getJSON(dominio + "FichasTecnicas/" + tipoFoto + "?fichaCode=" + fichaCode, function (data) {
                var divImagenes = document.getElementById(divImgs);
                var imagenesHtml = '';

                $.each(data, function (key, val) {

                    var id = val.codigo;
                    var base64 = val.archivoBase64;
                    var nombre = val.archivoNombre;

                    imagenesHtml += '<img id="' + id + '" src="data:image/png;base64, ' + base64 + '" class="pic" alt="' + nombre + '"/>';
                    imagenesHtml += '<img id="' + id + '" src="data:image/png;base64, ' + base64 + '" class="zoom"  alt="' + nombre + '"/>';

                });

                divImagenes.innerHTML = imagenesHtml;
            });
        }


        //funcion que sirve para validar si la ordene ya existe o no
        function ValCodigoOrden() {
            if ($("#Code").val() == "" || $("#Code").val() == 0) {
                alert("No exite orden relacionada");
                return false;
            }
            return true;
        }

        //funcion que bloquea elementos del encabezado
        function BloquearEncabezado() {
            $("#CantidadTotal").prop('readonly', true);
            $("#CantidadTotalLotes").prop('readonly', true);
            $("#NumeroLote").prop('readonly', true);

            //$("#btnGuardarEncabezado").hide();
        }

        //funcion que sirve para guardar el encabezado de la orden.
        function GuardarEncabezado() {

            var clienteCode = $("#ClienteCode").val();
            var fichaCode = $("#FichaCode").val();
            var cantidadTotal = $("#CantidadTotal").val();
            var cantidadTotalLotes = $("#CantidadTotalLotes").val();
            var fechaVencimiento = $("#FechaVencimiento").val();
            var numeroLote = $("#NumeroLote").val();
            var ordenTrabajo = $("#OrdenTrabajo").val();
            var revisionPlano = $("#RevisionPlano").val();
            var tipoTratamiento = $("#TipoTratamiento").val();
            var tipoPrioridadCode = $("#TipoPrioridadCode").val();
            var code = $("#Code").val();
            var codigo = $("#Codigo").val();

            if (ValidarEncabezado()) {
                if ($("#Code").val() == "" || $("#Code").val() == 0) {
                    $.get(dominio + "OrdenesAnodizado/CrearNueva?" +
                        "clienteCode=" + clienteCode +
                        "&fichaCode=" + fichaCode +
                        "&cantidadTotal=" + cantidadTotal +
                        "&cantidadTotalLotes=" + cantidadTotalLotes +
                        "&fechaVencimiento=" + fechaVencimiento +
                        "&numeroLote=" + numeroLote +
                        "&ordenTrabajo=" + ordenTrabajo +
                        "&tipoTratamiento=" + tipoTratamiento +
                        "&revisionPlano=" + revisionPlano +
                        "&tipoPrioridadCode=" + tipoPrioridadCode
                        , function (data) {

                            if (data != "") {
                                alert("Orden generada correctamente");
                                $("#Code").val(data);

                                var date = new Date();
                                var anio = date.getFullYear();
                                var codigo = data + "-" + anio;
                                $("#Codigo").val(codigo);

                                ActivarRecibo();

                                cantidadTotal = parseInt(cantidadTotal, 10);
                                cantidadTotalLotes = parseInt(cantidadTotalLotes, 10);

                                var cantidadPorLote = cantidadTotal / cantidadTotalLotes;

                                $("#RecibidoCodigo").val(codigo);
                                $("#RecibidoCantidad").val(cantidadPorLote);
                                $("#RaqueoCantidad").val(cantidadPorLote);
                                BloquearEncabezado();
                            }
                            else {
                                alert("Se presento un error por favor intente salir y entrar al sistema");
                            }

                        });
                }
                else {

                    $.get(dominio + "OrdenesAnodizado/GuardarEncabezado?" +
                        "code=" + code +
                        "&codigo=" + codigo +
                        "&fichaCode=" + fichaCode +
                        "&clienteCode=" + clienteCode +
                        "&cantidadTotal=" + cantidadTotal +
                        "&cantidadTotalLotes=" + cantidadTotalLotes +
                        "&fechaVencimiento=" + fechaVencimiento +
                        "&numeroLote=" + numeroLote +
                        "&ordenTrabajo=" + ordenTrabajo +
                        "&fechaVencimiento=" + fechaVencimiento +
                        "&tipoTratamiento=" + tipoTratamiento +
                        "&revisionPlano=" + revisionPlano +
                        "&tipoPrioridadCode=" + tipoPrioridadCode
                        , function (data) {
                            alert(data);
                            ActivarRecibo();
                        });
                }
            }

        }

        //funcion que sirve para guardar la informacion de la inspeccion de recibo
        function GuardarInspeccionRecibo() {
            var recibidoCodigo = $("#RecibidoCodigo").val();
            var recibidoCantidad = $("#RecibidoCantidad").val();
            var recibidoMedidasCriticas = $("#RecibidoMedidasCriticas").val();
            var recibidoResponsable = $("#RecibidoResponsable").val();
            var recibidoFecha = $("#RecibidoFecha").val();
            var code = $("#Code").val();

            if (ValidarInspeccionRecibo()) {
                if (ValCodigoOrden()) {
                    $.get(dominio + "OrdenesAnodizado/GuardarInspeccionRecibo?" +
                        "code=" + code +
                        "&recibidoCodigo=" + recibidoCodigo +
                        "&recibidoCantidad=" + recibidoCantidad +
                        "&recibidoMedidasCriticas=" + recibidoMedidasCriticas +
                        "&recibidoResponsable=" + recibidoResponsable +
                        "&recibidoFecha=" + recibidoFecha
                        , function (data) {

                            alert(data);
                            ActivarRaqueo();
                        });
                }
            }
        }

        //funcion que sirve para guardar la info de raqueo
        function GuardarRaqueo() {
            var raqueoRecomendacion = $("#RaqueoRecomendacion").val();
            var raqueoCantidad = $("#RaqueoCantidad").val();
            var raqueoResponsable = $("#RaqueoResponsable").val();
            var raqueoFecha = $("#RaqueoFecha").val();
            var code = $("#Code").val();

            if (ValidarRaqueo()) {
                if (ValCodigoOrden()) {
                    $.get(dominio + "OrdenesAnodizado/GuardarRaqueo?" +
                        "code=" + code +
                        "&raqueoRecomendacion=" + raqueoRecomendacion +
                        "&raqueoCantidad=" + raqueoCantidad +
                        "&raqueoResponsable=" + raqueoResponsable +
                        "&raqueoFecha=" + raqueoFecha
                        , function (data) {
                            alert(data);
                            ActivarProceso();
                        });
                }
            }

        }

        //funcion que sirve para guardar la informacion del proceso de inmersion
        function GuardarProceso() {
            var procesoDesengraseMinutos = $("#ProcesoDesengraseMinutos").html();
            var procesoDesengraseTanque = $("#ProcesoDesengraseTanque").html();
            var procesoDesengraseHoraInicio = $("#ProcesoDesengraseHoraInicio").val();
            var procesoDesengraseHoraHoraFinal = $("#ProcesoDesengraseHoraHoraFinal").val();
            var procesoEtching = $("#ProcesoEtching").html();
            var procesoEtchingTanque = $("#ProcesoEtchingTanque").html();
            var procesoEtchingHoraInicial = $("#ProcesoEtchingHoraInicial").val();
            var procesoEtchingHoraFinal = $("#ProcesoEtchingHoraFinal").val();
            var procesoAmperaje = $("#ProcesoAmperaje").html();
            var procesoAmperajeTanque = $("#ProcesoAmperajeTanque").html();
            var procesoAmperajeHoraInicio = $("#ProcesoAmperajeHoraInicio").val();
            var procesoAmperajeHoraFinal = $("#ProcesoAmperajeHoraFinal").val();
            var procesoAnodizadoMinutos = $("#ProcesoAnodizadoMinutos").html();
            var procesoAnodizadoTanque = $("#ProcesoAnodizadoTanque").html();
            var procesoAnodizadoHoraInicio = $("#ProcesoAnodizadoHoraInicio").val();
            var procesoAnodizadoHoraFinal = $("#ProcesoAnodizadoHoraFinal").val();
            var procesoTintaMinutos = $("#ProcesoTintaMinutos").html();
            var procesoTintaTanque = $("#ProcesoTintaTanque").html();
            var procesoTintaHoraInicio = $("#ProcesoTintaHoraInicio").val();
            var procesoTintaHoraFinal = $("#ProcesoTintaHoraFinal").val();
            var procesoSelloMinutos = $("#ProcesoSelloMinutos").html();
            var procesoSelloTanque = $("#ProcesoSelloTanque").html();
            var procesoSelloHoraInicial = $("#ProcesoSelloHoraInicial").val();
            var procesoSelloHoraFinal = $("#ProcesoSelloHoraFinal").val();
            var procesoOtros = $("#ProcesoOtros").html();
            var procesoOtrosMinutos = $("#ProcesoOtrosMinutos").html();
            var procesoOtrosTanque = $("#ProcesoOtrosTanque").html();
            var procesoOtrosHoraInicial = $("#ProcesoOtrosHoraInicial").val();
            var procesoOtrosHoraFinal = $("#ProcesoOtrosHoraFinal").val();
            var procesoCiudadosEspeciales = $("#ProcesoCiudadosEspeciales").val();
            var procesoResponsable = $("#ProcesoResponsable").val();
            var code = $("#Code").val();

            if (ValidarProceso()) {
                if (ValCodigoOrden()) {
                    $.get(dominio + "OrdenesAnodizado/GuardarProceso?" +
                        "code=" + code +
                        "&procesoDesengraseMinutos=" + procesoDesengraseMinutos +
                        "&procesoDesengraseTanque=" + procesoDesengraseTanque +
                        "&procesoDesengraseHoraInicio=" + procesoDesengraseHoraInicio +
                        "&procesoDesengraseHoraHoraFinal=" + procesoDesengraseHoraHoraFinal +
                        "&procesoEtching=" + procesoEtching +
                        "&procesoEtchingTanque=" + procesoEtchingTanque +
                        "&procesoEtchingHoraInicial=" + procesoEtchingHoraInicial +
                        "&procesoEtchingHoraFinal=" + procesoEtchingHoraFinal +
                        "&procesoAmperaje=" + procesoAmperaje +
                        "&procesoAmperajeTanque=" + procesoAmperajeTanque +
                        "&procesoAmperajeHoraInicio=" + procesoAmperajeHoraInicio +
                        "&procesoAmperajeHoraFinal=" + procesoAmperajeHoraFinal +
                        "&procesoAnodizadoMinutos=" + procesoAnodizadoMinutos +
                        "&procesoAnodizadoTanque=" + procesoAnodizadoTanque +
                        "&procesoAnodizadoHoraInicio=" + procesoAnodizadoHoraInicio +
                        "&procesoAnodizadoHoraFinal=" + procesoAnodizadoHoraFinal +
                        "&procesoTintaMinutos=" + procesoTintaMinutos +
                        "&procesoTintaTanque=" + procesoTintaTanque +
                        "&procesoTintaHoraInicio=" + procesoTintaHoraInicio +
                        "&procesoTintaHoraFinal=" + procesoTintaHoraFinal +
                        "&procesoSelloMinutos=" + procesoSelloMinutos +
                        "&procesoSelloTanque=" + procesoSelloTanque +
                        "&procesoSelloHoraInicial=" + procesoSelloHoraInicial +
                        "&procesoSelloHoraFinal=" + procesoSelloHoraFinal +
                        "&procesoOtros=" + procesoOtros +
                        "&procesoOtrosMinutos=" + procesoOtrosMinutos +
                        "&procesoOtrosTanque=" + procesoOtrosTanque +
                        "&procesoOtrosHoraInicial=" + procesoOtrosHoraInicial +
                        "&procesoOtrosHoraFinal=" + procesoOtrosHoraFinal +
                        "&procesoCiudadosEspeciales=" + procesoCiudadosEspeciales +
                        "&procesoSelloTanque=" + procesoSelloTanque +
                        "&procesoResponsable=" + procesoResponsable
                        , function (data) {
                            alert(data);
                            ActivarSalida();
                        });
                }
            }
        }

        //funcion que sirve para guardar la info de salida
        function GuardarSalida() {

            var salidaCriteriosAceptacion = $("#SalidaCriteriosAceptacion").val();
            var salidaCantiAprobada = $("#SalidaCantiAprobada").val();
            var salidaCantiRechazada = $("#SalidaCantiRechazada").val();
            var salidaCausas = $("#SalidaCausas").val();
            var salidaAccion = $("#SalidaAccion").val();
            var salidaAprobadas = $("#SalidaAprobadas").val();
            var salidaFecha = $("#SalidaFecha").val();
            var salidaResponsable = $("#SalidaResponsable").val();
            var code = $("#Code").val();

            if (ValidarSalida()) {
                if (ValCodigoOrden()) {
                    $.get(dominio + "OrdenesAnodizado/GuardarSalida?" +
                        "code=" + code +
                        "&salidaCriteriosAceptacion=" + salidaCriteriosAceptacion +
                        "&salidaCantiAprobada=" + salidaCantiAprobada +
                        "&salidaCantiRechazada=" + salidaCantiRechazada +
                        "&salidaCausas=" + salidaCausas +
                        "&salidaAccion=" + salidaAccion +
                        "&salidaAprobadas=" + salidaAprobadas +
                        "&salidaFecha=" + salidaFecha +
                        "&salidaResponsable=" + salidaResponsable
                        , function (data) {
                            alert(data);
                            ActivarEmpaque();
                        });
                }
            }

        }

        //funcion que sirve para guardar la info de empaque
        function GuardarEmpaque() {

            var empaqueRecomendacion = $("#EmpaqueRecomendacion").val();
            var empaqueCantidad = $("#EmpaqueCantidad").val();
            var empaqueFecha = $("#EmpaqueFecha").val();
            var empaqueResponsable = $("#EmpaqueResponsable").val();
            var code = $("#Code").val();

            if (ValidarEmpaque()) {
                if (ValCodigoOrden()) {
                    $.get(dominio + "OrdenesAnodizado/GuardarEmpaque?" +
                        "code=" + code +
                        "&empaqueRecomendacion=" + empaqueRecomendacion +
                        "&empaqueCantidad=" + empaqueCantidad +
                        "&empaqueFecha=" + empaqueFecha +
                        "&empaqueResponsable=" + empaqueResponsable +
                        "&empaqueResponsable=" + empaqueResponsable
                        , function (data) {
                            alert(data);
                            ActivarDespacho();
                        });
                }
            }

        }

        //funcion que sirve para guardar la info de despacho
        function GuardarDespacho() {

            var despachoCantidad = $("#DespachoCantidad").val();
            var despachoFactura = $("#DespachoFactura").val();
            var despachoCertificado = $("#DespachoCertificado").val();
            var despachoFecha = $("#DespachoFecha").val();
            var despachoResponsable = $("#DespachoResponsable").val();
            var code = $("#Code").val();

            if (ValidarDespacho()) {
                if (ValCodigoOrden()) {
                    $.get(dominio + "OrdenesAnodizado/GuardarDespacho?" +
                        "code=" + code +
                        "&despachoCantidad=" + despachoCantidad +
                        "&despachoFactura=" + despachoFactura +
                        "&despachoCertificado=" + despachoCertificado +
                        "&despachoFecha=" + despachoFecha +
                        "&despachoResponsable=" + despachoResponsable
                        , function (data) {
                            alert(data);
                        });
                }
            }
        }


        //function que sirve para marcar en pantalla el campo requerido
        function ValidarCampo(valor, campoMensaje) {
            if (valor == "" || valor == null) {
                $(campoMensaje).text("Campo requerido");
                return false;
            }
            return true;
        }


        //function que sirve para marcar en pantalla el campo requerido
        function ValidarCampoNumerico(valor, campoMensaje) {
            if (valor == "" || valor == null || valor == "0") {
                $(campoMensaje).text("Campo requerido");
                return false;
            }
            return true;
        }

        //funcion que sirve para limpiar las validaciones del encabezado
        function LimpiarValidacionesEncabezado() {
            $("#ClienteCodeVal").text("");
            $("#FichaCodeVal").text("");
            $("#CantidadTotalVal").text("");
            $("#CantidadTotalVal").text("");
            $("#CantidadTotalLotesVal").text("");
            $("#FechaVencimientoVal").text("");
            $("#NumeroLoteVal").text("");
            $("#OrdenTrabajoVal").text("");
            $("#OrdenTrabajoVal").text("");
            $("#RevisionPlanoVal").text("");
            $("#TipoTratamientoVal").text("");
            $("#TipoPrioridadCodeVal").text("");
            $("#CodeVal").text("");
        }

        //metodo que sirve para validar el encabezado de la orden
        function ValidarEncabezado() {
            LimpiarValidacionesEncabezado();
            var correcto = true;

            var total = parseInt($("#CantidadTotal").val(), 10);
            var totalLotes = parseInt($("#CantidadTotalLotes").val(), 10);

            if (total < totalLotes) {
                $("#CantidadTotalLotesVal").text("No puede superar la cantidad total");
                correcto = false;
            }

            if (!ValidarCampo($("#ClienteCode").val(), "#ClienteCodeVal")) {
                correcto = false;
            }

            if (!ValidarCampoNumerico($("#FichaCode").val(), "#FichaCodeVal")) {
                correcto = false;
            }

            if (!ValidarCampoNumerico($("#CantidadTotal").val(), "#CantidadTotalVal")) {
                correcto = false;
            }

            if (!ValidarCampoNumerico($("#CantidadTotalLotes").val(), "#CantidadTotalLotesVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#FechaVencimiento").val(), "#FechaVencimientoVal")) {
                correcto = false;
            }

            if (!ValidarCampoNumerico($("#NumeroLote").val(), "#NumeroLoteVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#OrdenTrabajo").val(), "#OrdenTrabajoVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#RevisionPlano").val(), "#RevisionPlanoVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#TipoTratamiento").val(), "#TipoTratamientoVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#Code").val(), "#CodeVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#TipoPrioridadCode").val(), "#TipoPrioridadCodeVal")) {
                correcto = false;
            }

            return correcto;
        }

        //funcion que sirve para limpiar las validaciones de inspeccion de recibo
        function LimpiarValidacionesInspeccionRecibo() {
            $("#RecibidoCodigoVal").text("");
            $("#RecibidoCantidadVal").text("");
            $("#RecibidoMedidasCriticasVal").text("");
            $("#RecibidoResponsableVal").text("");
            $("#RecibidoFechaVal").text("");
        }

        //metodo que sirve para validar los campos de inspeccion recibo
        function ValidarInspeccionRecibo() {
            LimpiarValidacionesInspeccionRecibo();
            var correcto = true;

            var total = parseInt($("#CantidadTotal").val(), 10);
            var reciboCantidad = parseInt($("#RecibidoCantidad").val(), 10);

            if (reciboCantidad > total) {
                $("#RecibidoCantidadVal").text("No puede superar la cantidad total");
                correcto = false;
            }

            if (!ValidarCampo($("#RecibidoCodigo").val(), "#RecibidoCodigoVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#RecibidoCantidad").val(), "#RecibidoCantidadVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#RecibidoMedidasCriticas").val(), "#RecibidoMedidasCriticasVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#RecibidoResponsable").val(), "#RecibidoResponsableVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#RecibidoFecha").val(), "#RecibidoFechaVal")) {
                correcto = false;
            }

            return correcto;
        }

        //funcion que sirve para limpiar los campos de validacion de raqueo
        function LimpiarValidacionesRaqueo() {
            $("#RaqueoRecomendacionVal").text("");
            $("#RaqueoCantidadVal").text("");
            $("#RaqueoResponsableVal").text("");
            $("#RaqueoFechaVal").text("");
            $("#CodeVal").text("");
        }

        //metodo que sirve para validar los campos raqueo
        function ValidarRaqueo() {
            var correcto = true;
            LimpiarValidacionesRaqueo();

            var reciboCantidad = parseInt($("#RecibidoCantidad").val(), 10);
            var raqueoCantidad = parseInt($("#RaqueoCantidad").val(), 10);

            if (raqueoCantidad > reciboCantidad) {
                $("#RaqueoCantidadVal").text("No puede superar la cantidad total recibida");
                correcto = false;
            }

            if (!ValidarCampo($("#RaqueoRecomendacion").val(), "#RaqueoRecomendacionVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#RaqueoCantidad").val(), "#RaqueoCantidadVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#RaqueoResponsable").val(), "#RaqueoResponsableVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#RaqueoFecha").val(), "#RaqueoFechaVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#Code").val(), "#CodeVal")) {
                correcto = false;
            }

            return correcto;
        }

        //metodo que sirve para limpiar los campos de validacion del proceso
        function LimpiarProceso() {
            $("#ProcesoResponsableVal").text("");
        }

        //funcion que sirve para validar la seccion de proceso
        function ValidarProceso() {
            LimpiarProceso();
            var correcto = true;

            if (!ValidarCampo($("#ProcesoResponsable").val(), "#ProcesoResponsableVal")) {
                correcto = false;
            }

            return correcto;
        }

        //funcion que sirve para limpiar las validaciones de salida
        function LimpiarSalida() {
            $("#SalidaCantiAprobadaVal").text("");
            $("#SalidaCantiRechazadaVal").text("");
            $("#SalidaCausasVal").text("");
            $("#SalidaAccionVal").text("");
            $("#SalidaAprobadasVal").text("");
            $("#SalidaFechaVal").text("");
            $("#SalidaResponsableVal").text("");
            $("#CodeVal").text("");
        }

        //metodo que sirve para validar los campos de salida
        function ValidarSalida() {
            var correcto = true;

            LimpiarSalida();

            if (!ValidarCampo($("#SalidaCantiAprobada").val(), "#SalidaCantiAprobadaVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#SalidaCantiRechazada").val(), "#SalidaCantiRechazadaVal")) {
                correcto = false;
            }

            //if (!ValidarCampo($("#SalidaCausas").val(), "#SalidaCausasVal")) {
            //    correcto = false;
            //}

            //if (!ValidarCampo($("#SalidaAccion").val(), "#SalidaAccionVal")) {
            //    correcto = false;
            //}

            if (!ValidarCampo($("#SalidaAprobadas").val(), "#SalidaAprobadasVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#SalidaFecha").val(), "#SalidaFechaVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#SalidaResponsable").val(), "#SalidaResponsableVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#Code").val(), "#CodeVal")) {
                correcto = false;
            }

            return correcto;
        }

        //funcion que sirve para limpiar las validaciones de empaque
        function LimpiarEmpaque() {
            $("#EmpaqueRecomendacionVal").text("");
            $("#EmpaqueCantidadVal").text("");
            $("#EmpaqueFechaVal").text("");
            $("#EmpaqueResponsableVal").text("");
            $("#CodeVal").text("");
        }

        //metodo que sirve para validar la seccion de empaque
        function ValidarEmpaque() {
            LimpiarEmpaque();
            var correcto = true;

            if (!ValidarCampo($("#EmpaqueRecomendacion").val(), "#EmpaqueRecomendacionVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#EmpaqueCantidad").val(), "#EmpaqueCantidadVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#EmpaqueFecha").val(), "#EmpaqueFechaVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#EmpaqueResponsable").val(), "#EmpaqueResponsableVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#Code").val(), "#CodeVal")) {
                correcto = false;
            }

            return correcto;
        }

        //funcion que sirve para limpiar las validaciones de empaque
        function LimpiarDespacho() {
            $("#DespachoCantidadVal").text("");
            $("#DespachoFacturaVal").text("");
            $("#DespachoCertificadoVal").text("");
            $("#DespachoFechaVal").text("");
            $("#DespachoResponsableVal").text("");
        }

        //metodo que sirve para validar la seccion de despacho
        function ValidarDespacho() {
            LimpiarDespacho();
            var correcto = true;

            if (!ValidarCampo($("#DespachoCantidad").val(), "#DespachoCantidadVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#DespachoFactura").val(), "#DespachoFacturaVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#DespachoCertificado").val(), "#DespachoCertificadoVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#DespachoFecha").val(), "#DespachoFechaVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#DespachoResponsable").val(), "#DespachoResponsableVal")) {
                correcto = false;
            }

            if (!ValidarCampo($("#Code").val(), "#CodeVal")) {
                correcto = false;
            }

            return correcto;
        }


        //metodo que sirve para desactivar las secciones al recien cargar el formulario
        function DesactivarSecciones() {
            $("#divRecibo :input").attr("disabled", true);
            $("#divRaqueo :input").attr("disabled", true);
            $("#divProceso :input").attr("disabled", true);
            $("#divSalida :input").attr("disabled", true);
            $("#divEmpaque :input").attr("disabled", true);
            $("#divDespacho :input").attr("disabled", true);
        }

        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);

        //metodo que sirve para activar la seccion de recibo
        function ActivarRecibo() {
            $("#divRecibo :input").attr("disabled", false);
            $("#RecibidoFecha").val(today);
        }

        //metodo que sirve para activar la seccion de raqueo
        function ActivarRaqueo() {
            $("#divRaqueo :input").attr("disabled", false);
            $("#RaqueoFecha").val(today);
        }

        //metodo que sirve para activar la seccion de proceso
        function ActivarProceso() {
            $("#divProceso :input").attr("disabled", false);
        }

        //metodo que sirve para activar la seccion de salida
        function ActivarSalida() {
            $("#divSalida :input").attr("disabled", false);
            $("#SalidaFecha").val(today);
        }

        //metodo que sirve para activar la seccion de empaque
        function ActivarEmpaque() {
            $("#divEmpaque :input").attr("disabled", false);
            $("#EmpaqueFecha").val(today);
        }

        //metodo que sirve para activar la seccion de despacho
        function ActivarDespacho() {
            $("#divDespacho :input").attr("disabled", false);
            $("#DespachoFecha").val(today);
        }

        //CargarListadoUsuarios();
    </script>
}
