﻿@model WebSite.Models.Entities.OrdenAnodizado

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>OrdenAnodizado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClienteCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadTotalLotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadTotalLotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroLote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroLote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenTrabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenTrabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisionPlano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisionPlano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoTratamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoTratamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecibidoCodigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecibidoCodigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecibidoCantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecibidoCantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecibidoMedidasCriticas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecibidoMedidasCriticas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecibidoResponsable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecibidoResponsable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecibidoFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecibidoFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RaqueoRecomendacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaqueoRecomendacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RaqueoCantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaqueoCantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RaqueoResponsable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaqueoResponsable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RaqueoFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaqueoFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoDesangreMinutos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoDesangreMinutos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoDesangreTanque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoDesangreTanque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoDesangreHoraInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoDesangreHoraInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoDesangreHoraHoraFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoDesangreHoraHoraFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoEtching)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoEtching)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoEtchingTanque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoEtchingTanque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoEtchingHoraInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoEtchingHoraInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoEtchingHoraFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoEtchingHoraFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoAmperaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoAmperaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoAmperajeTanque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoAmperajeTanque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoAmperajeHoraInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoAmperajeHoraInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoAmperajeHoraFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoAmperajeHoraFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoAnodizadoMinutos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoAnodizadoMinutos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoAnodizadoTanque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoAnodizadoTanque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoAnodizadoHoraInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoAnodizadoHoraInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoAnodizadoHoraFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoAnodizadoHoraFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoTintaMinutos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoTintaMinutos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoTintaTanque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoTintaTanque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoTintaHoraInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoTintaHoraInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoTintaHoraFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoTintaHoraFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoSelloMinutos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoSelloMinutos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoSelloTanque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoSelloTanque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoSelloHoraInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoSelloHoraInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoSelloHoraFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoSelloHoraFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoOtros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoOtros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoCiudadosEspeciales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoCiudadosEspeciales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoResponsable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoResponsable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalidaCantiAprobada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalidaCantiAprobada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalidaCantiRechazada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalidaCantiRechazada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalidaCausas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalidaCausas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalidaAccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalidaAccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalidaAprobadas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalidaAprobadas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalidaFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalidaFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalidaResponsable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalidaResponsable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpaqueRecomendacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpaqueRecomendacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpaqueCantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpaqueCantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpaqueFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpaqueFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpaqueResponsable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpaqueResponsable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DespachoCantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DespachoCantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DespachoFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DespachoFactura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DespachoFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DespachoFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DespachoResponsable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DespachoResponsable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreadoPor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreadoPor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaActualizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualizadoPor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualizadoPor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
