﻿@model IEnumerable<WebSite.Models.OrdenAnodizado>

    @{
    ViewBag.Title = "Ordesnes de Producción Listado";
    ViewBag.Modulo = "Ordenes de Producción";
    }


    @section styles {
    <link href="~/assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- This page plugin CSS -->
    <style>

        td.details-control {
            background: url('~/dist/js/pages/datatable/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('~/dist/js/pages/datatable/details_close.png') no-repeat center center;
        }
    </style>
    }


    @Html.ActionLink("Crear nuevo", "Crear", null, new { @class = "btn waves-effect waves-light btn-primary" })
    <br />
    <br />

    <div class="row">
        <div class="col-12">

            <div class="material-card card">
                <div class="card-body">
                    <h4 class="card-title">Listado</h4>
                    @* <h6 class="card-subtitle">DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function:<code> $().DataTable();</code>. You can refer full documentation from here <a href="https://datatables.net/">Datatables</a></h6>*@


                    <div class="table-responsive">

                        <table id="zero_config" class="table table-striped border">

                            <thead>
                                <tr>
                                    <th style="font-size:13px;">
                                        @Html.DisplayNameFor(model => model.Codigo)
                                    </th>

                                    <th style="font-size:13px;">
                                        @Html.DisplayNameFor(model => model.NumeroLote)
                                    </th>

                                    <th style="font-size:13px;">
                                        @Html.DisplayNameFor(model => model.Estado)
                                    </th>

                                    <th style="font-size:13px;">
                                        @Html.DisplayNameFor(model => model.TipoPrioridadCode)
                                    </th>

                                    <th style="font-size:13px;">
                                        @Html.DisplayNameFor(model => model.ClienteCode)
                                    </th>

                                    <th style="font-size:13px;">
                                        @Html.DisplayNameFor(model => model.OrdenTrabajo)
                                    </th>

                                    <th style="font-size:13px;">
                                        Factura
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.FechaVencimiento)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="font-size:13px;">
                                            @Html.DisplayFor(modelItem => item.Codigo)
                                        </td>

                                        <td style="font-size:13px;">
                                            @Html.DisplayFor(modelItem => item.NumeroLote)
                                        </td>

                                        <td style="font-size:13px;">
                                            @{
                                                var listadoEstados = (IEnumerable<SelectListItem>
                                                    )ViewBag.Estados;

                                                var estado = listadoEstados.Where(p => p.Value == item.Estado + "").FirstOrDefault();

                                                var estadoNombre = "";

                                                if (estado != null)
                                                {
                                                    estadoNombre = estado.Text;
                                                }

                                            }

                                            @estadoNombre
                                        </td>


                                        <td style="font-size:13px;">
                                            @{
                                                var listadoPrioridad = (IEnumerable<SelectListItem>
                                                    )ViewBag.TiposPrioridad;

                                                var prioridad = listadoPrioridad.Where(p => p.Value == item.TipoPrioridadCode + "").FirstOrDefault();

                                                var prioridadNombre = "";

                                                if (prioridad != null)
                                                {
                                                    prioridadNombre = prioridad.Text;
                                                }

                                            }

                                            @prioridadNombre
                                        </td>

                                        <td style="font-size:13px;">

                                            @{
                                                var listado = (IEnumerable<SelectListItem>
                                                    )ViewBag.Clientes;

                                                var cliente = listado.Where(p => p.Value == item.ClienteCode + "").FirstOrDefault();

                                                var nombreCliente = cliente.Text;
                                            }

                                            @nombreCliente
                                        </td>

                                        <td style="font-size:13px;">
                                            @Html.DisplayFor(modelItem => item.OrdenTrabajo)
                                        </td>

                                        <td style="font-size:13px;">
                                            @Html.DisplayFor(modelItem => item.DespachoFactura)
                                        </td>

                                        <td style="font-size:13px;">
                                            @Html.DisplayFor(modelItem => item.FechaVencimiento)
                                        </td>

                                        <td>
                                            <a href='@Url.Action("Editar", "OrdenesAnodizado", new { id = item.Code })' class="btn btn-primary waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar"><i class='fas fa-pencil-alt'></i></a>

                                            <a href='@Url.Action("Borrar", "OrdenesAnodizado", new { id = item.Code })' class="mb-xs mt-xs mr-xs btn btn-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Borrar"><i class='fas fa-trash'></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th style="font-size:13px;">
                                        @Html.DisplayNameFor(model => model.Codigo)
                                    </th>

                                    <th style="font-size:13px;">
                                        @Html.DisplayNameFor(model => model.NumeroLote)
                                    </th>

                                    <th style="font-size:13px;">
                                        @Html.DisplayNameFor(model => model.Estado)
                                    </th>

                                    <th style="font-size:13px;">
                                        @Html.DisplayNameFor(model => model.TipoPrioridadCode)
                                    </th>

                                    <th style="font-size:13px;">
                                        @Html.DisplayNameFor(model => model.ClienteCode)
                                    </th>

                                    <th style="font-size:13px;">
                                        @Html.DisplayNameFor(model => model.OrdenTrabajo)
                                    </th>

                                    <th style="font-size:13px;">
                                        Factura
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.FechaVencimiento)
                                    </th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



    @section scripts {
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <!--This page plugins -->
    <script src="~/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/js/pages/datatable/datatable-basic.init.js"></script>

    }
