﻿@model WebSite.Models.FichaTecnica

@{
    ViewBag.Title = "Fichas Tecnicas Detalles";
    ViewBag.Modulo = "Fichas Tecnicas";
}

<div class="card">
    <div class="card-body collapse show">
        <h4 class="card-title">Detalles</h4>
        @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
        <hr />
        <ul style="list-style:none;">
            <h4 class="card-title">Datos Generales</h4>
            <li><strong>@Html.DisplayNameFor(model => model.ClienteCode): </strong>@Html.DisplayFor(model => model.ClienteCode)</li>
            <li><strong>@Html.DisplayNameFor(model => model.TipoTratamientoCode): </strong>@Html.DisplayFor(model => model.TipoTratamientoCode)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Codigo): </strong>@Html.DisplayFor(model => model.Codigo)</li>

            <hr />
            <h4 class="card-title">Inspección de Recibido</h4>
            <li><strong>@Html.DisplayNameFor(model => model.ReciboMedidaCriticas): </strong>@Html.DisplayFor(model => model.ReciboMedidaCriticas)</li>

            <hr />
            <h4 class="card-title">Raqueo</h4>
            <li><strong>@Html.DisplayNameFor(model => model.RaqueoRecomendacion): </strong>@Html.DisplayFor(model => model.RaqueoRecomendacion)</li>

            <hr />
            <h4 class="card-title">Control de proceso</h4>
            <li><strong>@Html.DisplayNameFor(model => model.TiempoDesengrase): </strong>@Html.DisplayFor(model => model.TiempoDesengrase)</li>
            <li><strong>@Html.DisplayNameFor(model => model.TiempoEtching): </strong>@Html.DisplayFor(model => model.TiempoEtching)</li>
            <li><strong>@Html.DisplayNameFor(model => model.AmperajeVoltaje): </strong>@Html.DisplayFor(model => model.AmperajeVoltaje)</li>
            <li><strong>@Html.DisplayNameFor(model => model.TiempoAnodizado): </strong>@Html.DisplayFor(model => model.TiempoAnodizado)</li>
            <li><strong>@Html.DisplayNameFor(model => model.TiempoTinta): </strong>@Html.DisplayFor(model => model.TiempoTinta)</li>
            <li><strong>@Html.DisplayNameFor(model => model.TiempoSello): </strong>@Html.DisplayFor(model => model.TiempoSello)</li>
            <li><strong>@Html.DisplayNameFor(model => model.CuidadosEspeciales): </strong>@Html.DisplayFor(model => model.CuidadosEspeciales)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Otros): </strong>@Html.DisplayFor(model => model.Otros)</li>

            <hr />
            <h4 class="card-title">Empaque</h4>
            <li><strong>@Html.DisplayNameFor(model => model.EmpaqueRecomendacion): </strong>@Html.DisplayFor(model => model.EmpaqueRecomendacion)</li>
            <li><strong>@Html.DisplayNameFor(model => model.CreateDate): </strong>@Html.DisplayFor(model => model.CreateDate)</li>
            <li><strong>@Html.DisplayNameFor(model => model.CreateUser): </strong>@Html.DisplayFor(model => model.CreateUser)</li>
            <li><strong>@Html.DisplayNameFor(model => model.UpdateDate): </strong>@Html.DisplayFor(model => model.UpdateDate)</li>
            <li><strong>@Html.DisplayNameFor(model => model.UpdateUser): </strong>@Html.DisplayFor(model => model.UpdateUser)</li>

            <br />
            <input type="button" class="btn btn-danger" value="Imprimir" onclick="window.print()" />
            @Html.ActionLink("Ir a Editar", "Editar", new { id = Model.Code }, new { @class = "btn waves-effect waves-light btn-primary" })
            @Html.ActionLink("Cancelar", "Listado", null, new { @class = "btn waves-effect waves-light btn-secondary" })
        </ul>


    </div>
</div>
