﻿@{
    ViewBag.Title = "Home Page";
}


<!--<img src="~/img/fondo-nomina.jpg" class="img-responsive" style="width:1000px; max-height:400px;" />-->
@section Styles{
    @Styles.Render("~/Content/cssGridMvc")

    <style>
        #chart_div {
            width: 100%;
            height: 500px;
        }
    </style>
}

<div class="page-content margen">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit portlet-datatable bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-bus font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">Dashboard</span>
                    </div>
                    <div class="actions">

                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">

                                <div class="col-md-4">
                                    <a class="dashboard-stat dashboard-stat-v2 blue" href="">
                                        <div class="visual">
                                            <i class="fa fa-users"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                <span class="widget-thumb-body-stat" data-counter="counterup">98</span>
                                            </div>
                                            <div class="desc">
                                                <span class="widget-thumb-subtitle">Empleados Registrados</span>
                                                @*<span class="widget-thumb-subtitle">Abiertos</span>*@
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-md-4">
                                    <a class="dashboard-stat dashboard-stat-v2 yellow-crusta" href="">
                                        <div class="visual">
                                            <i class="fa fa-users"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                <span class="widget-thumb-body-stat" data-counter="counterup">0</span>
                                            </div>
                                            <div class="desc">
                                                <span class="widget-thumb-subtitle">Empleados en la empresa</span>
                                                @*<span class="widget-thumb-subtitle">Proceso</span>*@
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-md-4">
                                    <a class="dashboard-stat dashboard-stat-v2 grey-gallery" href="">
                                        <div class="visual">
                                            <i class="fa fa-briefcase"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                <span class="widget-thumb-body-stat" data-counter="counterup">98</span>
                                            </div>
                                            <div class="desc">
                                                <span class="widget-thumb-subtitle">Ausencias totales del mes</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <br />
                        </div>

                        <!-- MAPA EJEMPLO -->
                        @*<div class="col-md-12">
                                <div class="row" style="width: 100%">
                                    <div class="row margin-top-10">
                                        <div class="col-md-12">
                                            <div id="map" style="width: 100%; height: 400px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>*@

                        <!-- DASHBOARDS -->
                        <div class="col-md-12">

                            <div class="col-md-6">
                                <div align="center">
                                    <span style="font-weight: bold;">Trabajadores con más horas al mes</span>
                                </div>
                                <div id="productos_div" style="width: 100%; height: 250px;"></div>
                            </div>

                            <div class="col-md-6">
                                <div align="center">
                                    <span style="font-weight: bold;">Trabajadores con más horas al día</span>
                                </div>
                                <div id="servicios_chart" style="width: 100%; height: 350px;"></div>
                            </div>
                            <br />

                        </div>

                        <div class="col-md-12">
                            <div class="row margin-top-10">
                                <div class="col-md-6">
                                    <div align="center">
                                        <span style="font-weight: bold;">Tiempo de trabajo total por día</span>
                                    </div>
                                    <div id="atencionservicio_chart" style="height: 300px;"></div>
                                </div>
                                <div class="col-md-6">
                                    <div align="center">
                                        <span style="font-weight: bold;">Tiempo promedio de trabajo por día</span>
                                    </div>
                                    <div id="promedio_chart" style="height: 300px;"></div>
                                </div>
                            </div>
                            <br />
                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="row margin-top-10">
                                    <div class="col-md-6">
                                        <div align="center">
                                            <span style="font-weight: bold;">Trabajadores con mejor asistencia</span>
                                        </div>
                                        <div id="mejorbar_chart" style="height: 300px;"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div align="center">
                                            <span style="font-weight: bold;">Trabajadores con mayor ausencia</span>
                                        </div>
                                        <div id="peorbar_chart" style="height: 300px;"></div>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/amcharts")
    @Scripts.Render("~/bundles/gridMvc")
    <<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=drawing,visualization&key=@System.Configuration.ConfigurationManager.AppSettings["GoogleApiKey"]"></script>
    <script src="@Url.Content("~/Content/jqueryui/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/theme/assets/global/plugins/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/theme/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/theme/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Content/theme/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/dataviz.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>


    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="@Url.Content("~/Content/theme/assets/global/plugins/amcharts/amcharts.js")" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/dataviz.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

    <!-- Trabajoadroes con más horas trabajadas al mes code -->
    <script>
        am4core.ready(function () {

            // Themes begin
            am4core.useTheme(am4themes_dataviz);
            am4core.useTheme(am4themes_animated);
            // Themes end

            // Create chart instance
            var chart = am4core.create("productos_div", am4charts.PieChart);

            // Add data
            chart.data = [{
                "country": "Miguel Galaviz",
                "litres": 150
            }, {
                "country": "Jesús Saldivia",
                "litres": 148
            }, {
                "country": "Gabriel Rodríguez",
                "litres": 147
            }, {
                "country": "Antonio Tanzella",
                "litres": 140
            }, {
                "country": "José Vieira",
                "litres": 140
            }];

            // Set inner radius
            chart.innerRadius = am4core.percent(50);

            // Add and configure Series
            var pieSeries = chart.series.push(new am4charts.PieSeries());
            pieSeries.dataFields.value = "litres";
            pieSeries.dataFields.category = "country";
            pieSeries.slices.template.stroke = am4core.color("#fff");
            pieSeries.slices.template.strokeWidth = 2;
            pieSeries.slices.template.strokeOpacity = 1;

            // This creates initial animation
            pieSeries.hiddenState.properties.opacity = 1;
            pieSeries.hiddenState.properties.endAngle = -90;
            pieSeries.hiddenState.properties.startAngle = -90;

        }); // end am4core.ready()
    </script>

    <!-- Trabajadores con más horas al día code -->
    <script>
        am4core.ready(function () {

            // Themes begin
            am4core.useTheme(am4themes_dataviz);
            am4core.useTheme(am4themes_animated);
            // Themes end

            // Create chart instance
            var chart = am4core.create("servicios_chart", am4charts.XYChart);
            chart.scrollbarX = new am4core.Scrollbar();

            // Add data
            chart.data = [{
                "country": "1",
                "visits": 8
            }, {
                "country": "2",
                "visits": 8
            }, {
                "country": "3",
                "visits": 8
            }, {
                "country": "4",
                "visits": 7
            }, {
                "country": "5",
                "visits": 10
            }, {
                "country": "6",
                "visits": 11
            }, {
                "country": "7",
                "visits": 9
            }, {
                "country": "8",
                "visits": 7
            }, {
                "country": "9",
                "visits": 6
            }, {
                "country": "10",
                "visits": 5
            }, {
                "country": "11",
                "visits": 4
            }, {
                "country": "12",
                "visits": 11
            }, {
                "country": "13",
                "visits": 4
            }, {
                "country": "14",
                "visits": 11
            }, {
                "country": "15",
                "visits": 11
            }, {
                "country": "16",
                "visits": 12
            }, {
                "country": "17",
                "visits": 10
            }, {
                "country": "18",
                "visits": 9
            }, {
                "country": "19",
                "visits": 8
            }, {
                "country": "20",
                "visits": 7
            }, {
                "country": "21",
                "visits": 8
            }, {
                "country": "22",
                "visits": 8
            }, {
                "country": "23",
                "visits": 9
            }, {
                "country": "24",
                "visits": 11
            }, {
                "country": "25",
                "visits": 12
            }, {
                "country": "26",
                "visits": 14
            }, {
                "country": "27",
                "visits": 8
            }, {
                "country": "28",
                "visits": 12
            }, {
                "country": "29",
                "visits": 12
            }, {
                "country": "30",
                "visits": 8
            }];

            // Create axes
            var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
            categoryAxis.dataFields.category = "country";
            categoryAxis.renderer.grid.template.location = 0;
            categoryAxis.renderer.minGridDistance = 30;
            categoryAxis.renderer.labels.template.horizontalCenter = "right";
            categoryAxis.renderer.labels.template.verticalCenter = "middle";
            categoryAxis.renderer.labels.template.rotation = 270;
            categoryAxis.tooltip.disabled = true;
            categoryAxis.renderer.minHeight = 110;

            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            valueAxis.renderer.minWidth = 50;

            // Create series
            var series = chart.series.push(new am4charts.ColumnSeries());
            series.sequencedInterpolation = true;
            series.dataFields.valueY = "visits";
            series.dataFields.categoryX = "country";
            series.tooltipText = "[{categoryX}: bold]{valueY}[/]";
            series.columns.template.strokeWidth = 0;

            series.tooltip.pointerOrientation = "vertical";

            series.columns.template.column.cornerRadiusTopLeft = 10;
            series.columns.template.column.cornerRadiusTopRight = 10;
            series.columns.template.column.fillOpacity = 0.8;

            // on hover, make corner radiuses bigger
            var hoverState = series.columns.template.column.states.create("hover");
            hoverState.properties.cornerRadiusTopLeft = 0;
            hoverState.properties.cornerRadiusTopRight = 0;
            hoverState.properties.fillOpacity = 1;

            series.columns.template.adapter.add("fill", function (fill, target) {
                return chart.colors.getIndex(target.dataItem.index);
            });

            // Cursor
            chart.cursor = new am4charts.XYCursor();

        }); // end am4core.ready()
    </script>

    <!-- Tiempo de trabajo total por día -->
    <script>
        am4core.ready(function () {

            // Themes begin
            am4core.useTheme(am4themes_dataviz);
            am4core.useTheme(am4themes_animated);
            // Themes end

            // Create chart instance
            var chart = am4core.create("atencionservicio_chart", am4charts.PieChart);

            var pieSeries = am4charts.PieSeries();
            pieSeries.dataFields.value = "percent";
            pieSeries.dataFields.category = "hours";

            chart.innerRadius = am4core.percent(30);

            // Put a thick white border around each Slice
            pieSeries.slices.template.stroke = am4core.color("#fff");
            pieSeries.slices.template.strokeWidth = 2;
            pieSeries.slices.template.strokeOpacity = 1;
            pieSeries.slices.template.cursorOverStyle = [
                {
                    "property": "cursor",
                    "value": "pointer"
                }
            ];

            pieSeries.alignLabels = false;
            pieSeries.labels.template.bent = true;
            pieSeries.labels.template.radius = 3;
            pieSeries.labels.template.padding(0, 0, 0, 0);

            pieSeries.ticks.template.disabled = true;

            var shadow = pieSeries.slices.template.filters.push(new am4core.DropShadowFilter);
            shadow.opacity = 0;

            // Create hover state
            var hoverState = pieSeries.slices.template.states.getKey("hover");

            var hoverShadow = hoverState.filters.push(new am4core.DropShadowFilter);
            hoverShadow.opacity = 0.7;
            hoverShadow.blur = 5;

            // Add a legend
            chart.legend = new am4charts.Legend();

            chart.data = [
                {
                    "country": "Miguel Galaviz",
                    "litres": 8
                }, {
                    "country": "Gabriel Rodríguez",
                    "litres": 12
                }, {
                    "country": "Antonio Tanzella",
                    "litres": 10
                }
            ];

        }); // end am4core.ready()
    </script>

    <!-- Tiempo promedio de trabajo al día -->
    <script>
        am4core.ready(function () {

            // Themes begin
            am4core.useTheme(am4themes_dataviz);
            am4core.useTheme(am4themes_animated);
            // Themes end

            // Create chart instance
            var chart = am4core.create("promedio_chart", am4charts.XYChart);

            // Add data
            chart.data = [{
                "country": "Miguel Galaviz",
                "visits": 8.9
            }, {
                "country": "Gabriel Rodríguez",
                "visits": 12.3
            }, {
                "country": "Antonio Tanzella",
                "visits": 11
            }];

            // Create axes

            var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
            categoryAxis.dataFields.category = "country";
            categoryAxis.renderer.grid.template.location = 0;
            categoryAxis.renderer.minGridDistance = 30;

            categoryAxis.renderer.labels.template.adapter.add("dy", function (dy, target) {
                if (target.dataItem && target.dataItem.index & 2 == 2) {
                    return dy + 25;
                }
                return dy;
            });

            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

            // Create series
            var series = chart.series.push(new am4charts.ColumnSeries());
            series.dataFields.valueY = "visits";
            series.dataFields.categoryX = "country";
            series.name = "Visits";
            series.columns.template.tooltipText = "{categoryX}: [bold]{valueY}[/]";
            series.columns.template.fillOpacity = .8;

            var columnTemplate = series.columns.template;
            columnTemplate.strokeWidth = 2;
            columnTemplate.strokeOpacity = 1;

        }); // end am4core.ready()
    </script>

    <!-- Trabajadores con mejor asistencia -->

    <script>
        am4core.ready(function () {

            // Themes begin
            am4core.useTheme(am4themes_dataviz);
            am4core.useTheme(am4themes_animated);
            // Themes end

            // Create chart instance
            var chart = am4core.create("mejorbar_chart", am4charts.XYChart);

            // Add data
            chart.data = [
                {
                    "region": "Redes",
                    "state": "Miguel Galaviz",
                    "sales": 28
                },
                {
                    "region": "Sistemas",
                    "state": "Gabriel Rodríguez",
                    "sales": 28
                },
                {
                    "region": "Obrero",
                    "state": "Antonio Tanzella",
                    "sales": 27
                },
            ];

            // Create axes
            var yAxis = chart.yAxes.push(new am4charts.CategoryAxis());
            yAxis.dataFields.category = "state";
            yAxis.renderer.grid.template.location = 0;
            yAxis.renderer.labels.template.fontSize = 10;
            yAxis.renderer.minGridDistance = 10;

            var xAxis = chart.xAxes.push(new am4charts.ValueAxis());

            // Create series
            var series = chart.series.push(new am4charts.ColumnSeries());
            series.dataFields.valueX = "sales";
            series.dataFields.categoryY = "state";
            series.columns.template.tooltipText = "{categoryY}: [bold]{valueX}[/]";
            series.columns.template.strokeWidth = 0;
            series.columns.template.adapter.add("fill", function (fill, target) {
                if (target.dataItem) {
                    switch (target.dataItem.dataContext.region) {
                        case "Redes":
                            return chart.colors.getIndex(0);
                            break;
                        case "Sistemas":
                            return chart.colors.getIndex(1);
                            break;
                        case "Obrero":
                            return chart.colors.getIndex(2);
                            break;
                        case "West":
                            return chart.colors.getIndex(3);
                            break;
                    }
                }
                return fill;
            });

            // Add ranges
            function addRange(label, start, end, color) {
                var range = yAxis.axisRanges.create();
                range.category = start;
                range.endCategory = end;
                range.label.text = label;
                range.label.disabled = false;
                range.label.fill = color;
                range.label.location = 0;
                range.label.dx = -130;
                range.label.dy = 12;
                range.label.fontWeight = "bold";
                range.label.fontSize = 12;
                range.label.horizontalCenter = "left"
                range.label.inside = true;

                range.grid.stroke = am4core.color("#396478");
                range.grid.strokeOpacity = 1;
                range.tick.length = 200;
                range.tick.disabled = false;
                range.tick.strokeOpacity = 0.6;
                range.tick.stroke = am4core.color("#396478");
                range.tick.location = 0;

                range.locations.category = 1;
            }

            //addRange("Central", "Texas", "North Dakota", chart.colors.getIndex(0));
            //addRange("East", "New York", "West Virginia", chart.colors.getIndex(1));
            //addRange("South", "Florida", "South Carolina", chart.colors.getIndex(2));
            //addRange("West", "California", "Wyoming", chart.colors.getIndex(3));

            chart.cursor = new am4charts.XYCursor();

        }); // end am4core.ready()
    </script>

    <!-- Trabajadores con mayor ausencia -->

    <script>
        am4core.ready(function () {

            // Themes begin
            am4core.useTheme(am4themes_dataviz);
            am4core.useTheme(am4themes_animated);
            // Themes end

            // Create chart instance
            var chart = am4core.create("peorbar_chart", am4charts.XYChart);

            // Add data
            chart.data = [
                {
                    "region": "Redes",
                    "state": "Miguel Moreno",
                    "sales": 7
                },
                {
                    "region": "Obrero",
                    "state": "Ricardo Alba",
                    "sales": 3
                },
                {
                    "region": "Obrero",
                    "state": "Marco García",
                    "sales": 3
                },
                {
                    "region": "Sistemas",
                    "state": "Julio Iglesias",
                    "sales": 2
                }
            ];

            // Create axes
            var yAxis = chart.yAxes.push(new am4charts.CategoryAxis());
            yAxis.dataFields.category = "state";
            yAxis.renderer.grid.template.location = 0;
            yAxis.renderer.labels.template.fontSize = 10;
            yAxis.renderer.minGridDistance = 10;

            var xAxis = chart.xAxes.push(new am4charts.ValueAxis());

            // Create series
            var series = chart.series.push(new am4charts.ColumnSeries());
            series.dataFields.valueX = "sales";
            series.dataFields.categoryY = "state";
            series.columns.template.tooltipText = "{categoryY}: [bold]{valueX}[/]";
            series.columns.template.strokeWidth = 0;
            series.columns.template.adapter.add("fill", function (fill, target) {
                if (target.dataItem) {
                    switch (target.dataItem.dataContext.region) {
                        case "Redes":
                            return chart.colors.getIndex(0);
                            break;
                        case "Obrero":
                            return chart.colors.getIndex(1);
                            break;
                        case "Sistemas":
                            return chart.colors.getIndex(2);
                            break;
                        case "West":
                            return chart.colors.getIndex(3);
                            break;
                    }
                }
                return fill;
            });

            // Add ranges
            function addRange(label, start, end, color) {
                var range = yAxis.axisRanges.create();
                range.category = start;
                range.endCategory = end;
                range.label.text = label;
                range.label.disabled = false;
                range.label.fill = color;
                range.label.location = 0;
                range.label.dx = -130;
                range.label.dy = 12;
                range.label.fontWeight = "bold";
                range.label.fontSize = 12;
                range.label.horizontalCenter = "left"
                range.label.inside = true;

                range.grid.stroke = am4core.color("#396478");
                range.grid.strokeOpacity = 1;
                range.tick.length = 200;
                range.tick.disabled = false;
                range.tick.strokeOpacity = 0.6;
                range.tick.stroke = am4core.color("#396478");
                range.tick.location = 0;

                range.locations.category = 1;
            }

            //addRange("Central", "Texas", "North Dakota", chart.colors.getIndex(0));
            //addRange("East", "New York", "West Virginia", chart.colors.getIndex(1));
            //addRange("South", "Florida", "South Carolina", chart.colors.getIndex(2));
            //addRange("West", "California", "Wyoming", chart.colors.getIndex(3));

            chart.cursor = new am4charts.XYCursor();

        }); // end am4core.ready()
    </script>

    @*<script type="text/javascript">
            var map;
            var places = [
                ['Cuajimalpa', "<h1>Cuajimalpa</h1>", 19.3599300, -99.2938800, "#4f97d7"],
                ['Coacalco', "<h1>Coacalco</h1>", 19.6418, - 99.0954, "#ffbf00"],
                ['Miguel Hidalgo', "<h1>Miguel Hidalgo</h1>", 19.406666666667, -99.191111111111, "black"],
                ['Energetika', "<h1>Energetika</h1>", 19.406799, -99.178559, "#4f97d7"],
                ['Naucalpan', "<h1>Naucalpan</h1>", 19.4785099, -99.2396317, "#ffbf00"],
                ['Jalisco', "<h1>Jalisco</h1>", 17.9058600, -91.7610200, "#4f97d7"],
                ['México', "<h1>México</h1>", 23.0000000, -102.0000000, "#ffbf00"],
                ['Nezahualcóyotl', "<h1>Nezahualcóyotl</h1>", 19.4116, -99.0212, "black"],
                ['Chimalhuacan', "<h1>Chimalhuacan</h1>", 19.4208, -98.949, "#4f97d7"],
                ['San Luis', "<h1>San Luis</h1>", 22.1498200, -100.9791600, "#ffbf00"],
                ['Polanco', "<h1>Polanco</h1>", 19.4377000, -99.2072500, "#4f97d7"],
                ['Coayacan', "<h1>Coyoacan</h1>", 19.3467000, -99.161740, "#4f97d7"],
                ['Condesa', "<h1>Condesa</h1>", 19.415900, -99.191111111111, "#4f97d7"],
                ['Tultepec', "<h1>Tultepec</h1>", 19.6847, -99.1292, "#4f97d7"],
                ['Guadalajara', "<h1>Guadalajara</h1>", 20.6736, -103.344, "#4f97d7"],
                ['Tultitlan', "<h1>Tultitlan</h1>", 19.6456, -99.1689, "#4f97d7"],
                ['Cuautitlan', "<h1>Cuautitlan</h1>", 19.6722, -99.181, "#4f97d7"]
            ];
            /*
             * use google maps api built-in mechanism to attach dom events
             */
            google.maps.event.addDomListener(window, "load", function () {

                /*
                 * create map
                 */
                var map = new google.maps.Map(document.getElementById("map"), {
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                });

                /*
                 * create infowindow (which will be used by markers)
                 */
                var infoWindow = new google.maps.InfoWindow();
                /*
                 * create bounds (which will be used auto zoom map)
                 */
                var bounds = new google.maps.LatLngBounds();

                /*
                 * marker creater function (acts as a closure for html parameter)
                 */
                function createMarker(options, html) {
                    var marker = new google.maps.Marker(options);
                    bounds.extend(options.position);
                    if (html) {
                        google.maps.event.addListener(marker, "click", function () {
                            infoWindow.setContent(html);
                            infoWindow.open(options.map, this);
                            map.setZoom(map.getZoom() + 1)
                            map.setCenter(marker.getPosition());
                        });
                    }
                    return marker;
                }

                /*
                 * add markers to map
                 */
                for (var i = 0; i < places.length; i++) {
                    var point = places[i];
                    createMarker({
                        position: new google.maps.LatLng(point[2], point[3]),
                        map: map,
                        icon: {
                            path: 'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z',
                            scale: 0.6,
                            strokeWeight: 0.2,
                            strokeColor: 'black',
                            strokeOpacity: 1,
                            fillColor: point[4],
                            fillOpacity: 0.85,
                        },
                    }, point[1]);
                };
                map.fitBounds(bounds);
            });
        </script>

        <script type="text/javascript">
            $(function () {
                initMap();
            });
        </script>*@

}
}
