﻿@model WebSite.Models.Rol

@{
                /**/

                ViewBag.Title = "Roles Borrar";
                ViewBag.Modulo = "Roles";
}

<div class="card">
    <div class="card-body collapse show">
        <h4 class="card-title">Borrar</h4>
        <p class="card-text">¿Desea borrar este registro?</p>
        <hr />
        <ul style="list-style:none;">
            <li><strong>@Html.DisplayNameFor(model => model.Nombre): </strong>@Html.DisplayFor(model => model.Nombre)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Escritura): </strong>@Html.DisplayFor(model => model.Escritura)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Lectura): </strong>@Html.DisplayFor(model => model.Lectura)</li>
            <br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Borrar" class="mb-xs mt-xs mr-xs btn btn-danger" />
                @Html.ActionLink("Cancelar", "Listado", null, new { @class = "btn waves-effect waves-light btn-secondary" })
            }


        </ul>


    </div>
</div>
