﻿@model WebSite.Models.Rol

@{
    ViewBag.Title = "Roles Detalles";
    ViewBag.Modulo = "Roles";
}

<div class="card">
    <div class="card-body collapse show">
        <h4 class="card-title">Detalles</h4>
        @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
        <hr />
        <ul style="list-style:none;">
            <li><strong>@Html.DisplayNameFor(model => model.Nombre): </strong>@Html.DisplayFor(model => model.Nombre)</li>
            <li><strong>@Html.DisplayNameFor(model => model.CreateUser): </strong>@Html.DisplayFor(model => model.CreateUser)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Visible): </strong>@Html.DisplayFor(model => model.Visible)</li>

            <br />
            @Html.ActionLink("Ir a Editar", "Editar", new { id = Model.Code }, new { @class = "btn waves-effect waves-light btn-primary" })
            @Html.ActionLink("Cancelar", "Listado", null, new { @class = "btn waves-effect waves-light btn-secondary" })
        </ul>
    </div>
</div>
