﻿@model WebSite.Models.Usuario

@{
    ViewBag.Title = "Usuarios Editar";
    ViewBag.Modulo = "Usuarios";
}

<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Code)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.CreateUser)

                    <div class="form-body">
                        <h5 class="card-title">Editar</h5>
                        <hr>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Apellido1, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Apellido1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Apellido1, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Apellido2, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Apellido2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Apellido2, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>   <!--/row-->

                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NombreUsuario, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.NombreUsuario, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NombreUsuario, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EmpresaCode, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.EmpresaCode, (IEnumerable<SelectListItem>)ViewBag.Empresas, "Seleccione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.EmpresaCode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <!--/span-->

                        </div>   <!--/row-->

                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RolCode, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.RolCode, (IEnumerable<SelectListItem>)ViewBag.Roles, "Seleccione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.RolCode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Celular, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Contrasenia, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Contrasenia, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Contrasenia, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <br />
                                    @Html.LabelFor(model => model.Visible, htmlAttributes: new { @class = "control-label" })
                                    @Html.CheckBoxFor(model => model.Visible, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Visible, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>



                    <div class="form-actions mt-5">
                        <button type="submit" class="btn waves-effect waves-light btn-primary">Guardar</button>
                        @Html.ActionLink("Cancelar", "Listado", null, new { @class = "btn waves-effect waves-light btn-secondary" })
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Column -->
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}