﻿@model WebSite.Models.Cliente

@{
    ViewBag.Title = "Clientes Borrar";
    ViewBag.Modulo = "Clientes";
}

<div class="card">
    <div class="card-body collapse show">
        <h4 class="card-title">Borrar</h4>
        <p class="card-text">¿Desea borrar este registro?</p>
        <hr />
        <ul style="list-style:none;">

            <li><strong>@Html.DisplayNameFor(model => model.Cedula): </strong>@Html.DisplayFor(model => model.Cedula)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Nombre): </strong>@Html.DisplayFor(model => model.Nombre)</li>
            <li><strong>@Html.DisplayNameFor(model => model.RazonSocial): </strong>@Html.DisplayFor(model => model.RazonSocial)</li>
            <li><strong>@Html.DisplayNameFor(model => model.CodigoPostal): </strong>@Html.DisplayFor(model => model.CodigoPostal)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Direccion1): </strong>@Html.DisplayFor(model => model.Direccion1)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Direccion2): </strong>@Html.DisplayFor(model => model.Direccion2)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Telefono1): </strong>@Html.DisplayFor(model => model.Telefono1)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Telefono2): </strong>@Html.DisplayFor(model => model.Telefono2)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Fax): </strong>@Html.DisplayFor(model => model.Fax)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Email): </strong>@Html.DisplayFor(model => model.Email)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Descripcion): </strong>@Html.DisplayFor(model => model.Descripcion)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Visible): </strong>@Html.DisplayFor(model => model.Visible)</li>
            <li><strong>@Html.DisplayNameFor(model => model.CreateDate): </strong>@Html.DisplayFor(model => model.CreateDate)</li>
            <li><strong>@Html.DisplayNameFor(model => model.CreateUser): </strong>@Html.DisplayFor(model => model.CreateUser)</li>
            <li><strong>@Html.DisplayNameFor(model => model.UpdateDate): </strong>@Html.DisplayFor(model => model.UpdateDate)</li>
            <li><strong>@Html.DisplayNameFor(model => model.UpdateUser): </strong>@Html.DisplayFor(model => model.UpdateUser)</li>

            <br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Borrar" class="mb-xs mt-xs mr-xs btn btn-danger" />
                @Html.ActionLink("Cancelar", "Listado", null, new { @class = "btn waves-effect waves-light btn-secondary" })
            }


        </ul>


    </div>
</div>
