﻿@model WebSite.Models.Cliente

@{
    ViewBag.Title = "Clientes Crear";
    ViewBag.Modulo = "Clientes";
}

<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Code)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.CreateUser)

                    <div class="form-body">
                        <h5 class="card-title">Crear</h5>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EmpresaCode, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.EmpresaCode, (IEnumerable<SelectListItem>)ViewBag.Empresas, "Seleccione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.EmpresaCode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>   <!--/row-->

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RazonSocial, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.RazonSocial, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RazonSocial, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PaisCode, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.PaisCode, (IEnumerable<SelectListItem>)ViewBag.Paises, "Seleccione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PaisCode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProvinciaCode, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.ProvinciaCode, (IEnumerable<SelectListItem>)ViewBag.Provincias, "Seleccione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ProvinciaCode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div> <!--/row-->

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CantonCode, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.CantonCode, (IEnumerable<SelectListItem>)ViewBag.Cantones, "Seleccione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CantonCode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DistritoCode, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.DistritoCode, (IEnumerable<SelectListItem>)ViewBag.Distritos, "Seleccione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DistritoCode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CodigoPostal, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CodigoPostal, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CodigoPostal, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div> <!--/row-->


                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Direccion1, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Direccion1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Direccion1, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Direccion2, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Direccion2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Direccion2, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Telefono1, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Telefono1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Telefono1, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div> <!--/row-->

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Telefono2, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Telefono2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Telefono2, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div> <!--/row-->


                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Web, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Web, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Web, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Visible, htmlAttributes: new { @class = "control-label" })
                                    @Html.CheckBoxFor(model => model.Visible, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Visible, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div> <!--/row-->

                    </div>


                    <div class="form-actions mt-5">
                        <button type="submit" class="btn waves-effect waves-light btn-primary">Guardar</button>
                        @Html.ActionLink("Cancelar", "Listado", null, new { @class = "btn waves-effect waves-light btn-secondary" })
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Column -->
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">

    $(document).ready(function () {
        $('#PaisCode').change(function () {
            CargarProvincias();
            CargarCantones();
            CargarDistritos();
        });

        $('#ProvinciaCode').change(function () {
            CargarCantones();
            CargarDistritos();
        });

        $('#CantonCode').change(function () {
            CargarDistritos();
        });

    });

    function CargarProvincias() {
        CargarComboCadena("#PaisCode", "#ProvinciaCode", "/Clientes/CargarProvincias", "POST");
    }

    function CargarCantones() {
        CargarComboCadena("#ProvinciaCode", "#CantonCode", "/Clientes/CargarCantones", "POST");
    }

    function CargarDistritos() {
        CargarComboDistritos("#ProvinciaCode", "#CantonCode", "#DistritoCode", "/Clientes/CargarDistritos", "POST");
    }

    function CargarComboDistritos(idParent1, idParent2, idChild, urlMethod, typeMethod) {
        var parentVal1 = $(idParent1).val();
        var parentVal2 = $(idParent2).val();

        if (parentVal1 === "") {
            parentVal = 0;
        }

        if (parentVal2 === "") {
            parentVal2 = 0;
        }

        //se consulta la información de la estádistica mediante ajax al servidor
        $.ajax({
            url: urlMethod,
            type: typeMethod,
            data: { parentVal1: parentVal1, parentVal2: parentVal2 }
        })
            .done(function (response) {

                if (response.length > 0) {
                    $(idChild).html('');
                    var options = '';
                    options += '<option value="0">-- SELECCIONE --</option>';
                    for (var i = 0; i < response.length; i++) {

                        var value = JSON.stringify(response[i].Value).replace('"', '');
                        value = value.replace('"', '');

                        var text = JSON.stringify(response[i].Text).replace('"', '');
                        text = text.replace('"', '');

                        options += '<option value="' + value + '">' + text + '</option>';
                    }
                    $(idChild).append(options);
                }

            });
    }

    function CargarComboCadena(idParent, idChild, urlMethod, typeMethod) {
        var parentVal = $(idParent).val();
        if (parentVal === "") {
            parentVal = 0;
        }

        //se consulta la información de la estádistica mediante ajax al servidor
        $.ajax({
            url: urlMethod,
            type: typeMethod,
            data: { parentVal: parentVal }
        })
            .done(function (response) {

                if (response.length > 0) {
                    $(idChild).html('');
                    var options = '';
                    options += '<option value="0">-- SELECCIONE --</option>';
                    for (var i = 0; i < response.length; i++) {

                        var value = JSON.stringify(response[i].Value).replace('"', '');
                        value = value.replace('"', '');

                        var text = JSON.stringify(response[i].Text).replace('"', '');
                        text = text.replace('"', '');

                        options += '<option value="' + value + '">' + text + '</option>';
                    }
                    $(idChild).append(options);
                }

            });
    }


</script>
}