﻿@model WebSite.Models.RolPermiso

@{
    ViewBag.Title = "Empresas Detalles";
    ViewBag.Modulo = "Empresas";
}

<div class="card">
    <div class="card-body collapse show">
        <h4 class="card-title">Detalles</h4>
        @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
        <hr />
        <ul style="list-style:none;">
            <li><strong>@Html.DisplayNameFor(model => model.RolCode): </strong>@Html.DisplayFor(model => model.RolCode)</li>
            <li><strong>@Html.DisplayNameFor(model => model.ControladorCode): </strong>@Html.DisplayFor(model => model.ControladorCode)</li>
            <li><strong>@Html.DisplayNameFor(model => model.AccionCode): </strong>@Html.DisplayFor(model => model.AccionCode)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Visibilidad): </strong>@Html.DisplayFor(model => model.Visibilidad)</li>
            <li><strong>@Html.DisplayNameFor(model => model.CreateDate): </strong>@Html.DisplayFor(model => model.CreateDate)</li>
            <li><strong>@Html.DisplayNameFor(model => model.CreateUser): </strong>@Html.DisplayFor(model => model.CreateUser)</li>
            <li><strong>@Html.DisplayNameFor(model => model.UpdateDate): </strong>@Html.DisplayFor(model => model.UpdateDate)</li>
            <li><strong>@Html.DisplayNameFor(model => model.UpdateUser): </strong>@Html.DisplayFor(model => model.UpdateUser)</li>

            <br />
            @Html.ActionLink("Ir a Editar", "Editar", new { id = Model.Code }, new { @class = "btn waves-effect waves-light btn-primary" })
            @Html.ActionLink("Cancelar", "Listado", null, new { @class = "btn waves-effect waves-light btn-secondary" })
        </ul>


    </div>
</div>


