﻿@model WebSite.Models.RolPermiso


@{
    ViewBag.Title = "Permisos Roles Editar";
    ViewBag.Modulo = "Permisos Roles";
}

<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Code)

                    <div class="form-body">
                        <h5 class="card-title">Crear</h5>
                        <hr>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RolCode, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.RolCode, (IEnumerable<SelectListItem>)ViewBag.Roles, "Seleccione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.RolCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ControladorCode, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.ControladorCode, (IEnumerable<SelectListItem>)ViewBag.Controladores, "Seleccione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ControladorCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AccionCode, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.AccionCode, (IEnumerable<SelectListItem>)ViewBag.Acciones, "Seleccione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AccionCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!--/span-->
                        </div>   <!--/row-->

                    </div>
                    <div class="form-actions mt-5">
                        <button type="submit" class="btn waves-effect waves-light btn-primary">Guardar</button>
                        @Html.ActionLink("Cancelar", "Listado", null, new { @class = "btn waves-effect waves-light btn-secondary" })
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Column -->
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>

    CargarNuevo();

    function CargarNuevo() {
        BloquearSelect("#AccionID");
    }

    function GetAcciones(ControladorID) {

        $.getJSON("http://localhost:50946/" + "Acciones/ListadoJSON?ControladorID=" + ControladorID, function (data) {

            var $dropdown = $("#AccionID");
            $dropdown.prop("disabled", false);
            $dropdown.empty();
            $dropdown.append($("<option />").val(0).text("-- Seleccione --"));

            $.each(data, function (key, val) {
                $dropdown.append($("<option />").val(val["id"]).text(val["nombre"]));
            });
        });
    }

    function BloquearSelect(ElementID) {
        $(ElementID).empty();
        $(ElementID).prop("disabled", true);
    }

    $("#ControladorID").change(function () {

        var ControladorID = $("#ControladorID").val();

        if (ControladorID == "") {
            BloquearSelect("#AccionID");
        }
        else {
            GetAcciones(ControladorID);
        }
    });




    </script>
}