﻿@model WebSite.Models.Productos

@{
    ViewBag.Title = "Productos Borrar";
    ViewBag.Modulo = "Productos";
}

<div class="card">
    <div class="card-body collapse show">
        <h4 class="card-title">Borrar</h4>
        <p class="card-text">¿Desea borrar este registro?</p>
        <hr />
        <ul style="list-style:none;">
            <li><strong>@Html.DisplayNameFor(model => model.Nombre): </strong>@Html.DisplayFor(model => model.Nombre)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Fabricante): </strong>@Html.DisplayFor(model => model.Fabricante)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Proveedor): </strong>@Html.DisplayFor(model => model.Proveedor)</li>
            <li><strong>@Html.DisplayNameFor(model => model.CodIntProducto): </strong>@Html.DisplayFor(model => model.CodIntProducto)</li>
            <li><strong>@Html.DisplayNameFor(model => model.NroRegQuimico): </strong>@Html.DisplayFor(model => model.NroRegQuimico)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Precursor): </strong>@Html.DisplayFor(model => model.Precursor)</li>
            <li><strong>@Html.DisplayNameFor(model => model.HojaSeguridad): </strong>@Html.DisplayFor(model => model.HojaSeguridad)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Peligrosidad): </strong>@Html.DisplayFor(model => model.Peligrosidad)</li>
            <li><strong>@Html.DisplayNameFor(model => model.PermisoVenta): </strong>@Html.DisplayFor(model => model.PermisoVenta)</li>
            <li><strong>@Html.DisplayNameFor(model => model.PermisoConsumo): </strong>@Html.DisplayFor(model => model.PermisoConsumo)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Material): </strong>@Html.DisplayFor(model => model.Material)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Volumen): </strong>@Html.DisplayFor(model => model.Volumen)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Densidad): </strong>@Html.DisplayFor(model => model.Densidad)</li>
            <li><strong>@Html.DisplayNameFor(model => model.TipoResiduo): </strong>@Html.DisplayFor(model => model.TipoResiduo)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Gestor): </strong>@Html.DisplayFor(model => model.Gestor)</li>
            <li><strong>@Html.DisplayNameFor(model => model.UpdateDate): </strong>@Html.DisplayFor(model => model.UpdateDate)</li>
            <li><strong>@Html.DisplayNameFor(model => model.CreateUser): </strong>@Html.DisplayFor(model => model.CreateUserName)</li>
            <li><strong>@Html.DisplayNameFor(model => model.UpdateUser): </strong>@Html.DisplayFor(model => model.UpdateUserName)</li>

            <br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Borrar" class="mb-xs mt-xs mr-xs btn btn-danger" />
                @Html.ActionLink("Cancelar", "Listado", null, new { @class = "btn waves-effect waves-light btn-secondary" })
            }


        </ul>


    </div>
</div>
