﻿@model WebSite.Models.Productos

@{
   ViewBag.Title = "Productos Detalles";
    ViewBag.Modulo = "Productos";
}

<div class="card">
    <div class="card-body collapse show">
        <h4 class="card-title">Detalles</h4>
        @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
        <hr />
        <ul style="list-style:none;">
            <li><strong>@Html.DisplayNameFor(model => model.Nombre): </strong>@Html.DisplayFor(model => model.Nombre)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Fabricante): </strong>@Html.DisplayFor(model => model.Fabricante)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Proveedor): </strong>@Html.DisplayFor(model => model.Proveedor)</li>
            <li><strong>@Html.DisplayNameFor(model => model.CodIntProducto): </strong>@Html.DisplayFor(model => model.CodIntProducto)</li>
            <li><strong>@Html.DisplayNameFor(model => model.NroRegQuimico): </strong>@Html.DisplayFor(model => model.NroRegQuimico)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Precursor): </strong>@Html.DisplayFor(model => model.Precursor)</li>
            <li><strong>@Html.DisplayNameFor(model => model.HojaSeguridad): </strong>@Html.DisplayFor(model => model.HojaSeguridad)</li>
            @if (Model.HojaSeguridad != "")
            {
                <li>
                    @Html.ActionLink("Descargar Hojas de seguridad", "DownloadHojaSeguridad", new { HojaSeguridad = Model.HojaSeguridad }, new { @class = "btn waves-effect waves-light btn-primary" })
                </li>
            }
            <li><strong>@Html.DisplayNameFor(model => model.Peligrosidad): </strong>@Html.DisplayFor(model => model.Peligrosidad)</li>
            <li><strong>@Html.DisplayNameFor(model => model.PermisoVenta): </strong>@Html.DisplayFor(model => model.PermisoVenta)</li>
            @if (Model.PermisoVenta != "")
            {
                <li>
                    @Html.ActionLink("Descargar Permiso de Venta", "DownloadPermisoVenta", new { PermisoVenta = Model.PermisoVenta }, new { @class = "btn waves-effect waves-light btn-primary" })
                </li>
            }
            <li><strong>@Html.DisplayNameFor(model => model.PermisoConsumo): </strong>@Html.DisplayFor(model => model.PermisoConsumo)</li>
            @if (Model.PermisoConsumo != "")
            {
                <li>
                    @Html.ActionLink("Descargar Permiso de Consumo", "DownloadPermisoConsumo", new { PermisoConsumo = Model.PermisoConsumo }, new { @class = "btn waves-effect waves-light btn-primary" })
                </li>
            }
            <li><strong>@Html.DisplayNameFor(model => model.Material): </strong>@Html.DisplayFor(model => model.Material)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Volumen): </strong>@Html.DisplayFor(model => model.Volumen)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Densidad): </strong>@Html.DisplayFor(model => model.Densidad)</li>
            <li><strong>@Html.DisplayNameFor(model => model.TipoResiduo): </strong>@Html.DisplayFor(model => model.TipoResiduo)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Gestor): </strong>@Html.DisplayFor(model => model.Gestor)</li>
            <li><strong>@Html.DisplayNameFor(model => model.UpdateDate): </strong>@Html.DisplayFor(model => model.UpdateDate)</li>
            <li><strong>@Html.DisplayNameFor(model => model.CreateUser): </strong>@Html.DisplayFor(model => model.CreateUserName)</li>
            <li><strong>@Html.DisplayNameFor(model => model.UpdateUser): </strong>@Html.DisplayFor(model => model.UpdateUserName)</li>


            <br />
            @if (System.Web.HttpContext.Current.Session["RolID"].ToString() != "2")
            {
                @Html.ActionLink("Ir a Editar", "Editar", new { id = Model.Code }, new { @class = "btn waves-effect waves-light btn-primary" })
            }
            @Html.ActionLink("Cancelar", "Listado", null, new { @class = "btn waves-effect waves-light btn-secondary" })
        </ul>


    </div>
</div>
