﻿@model WebSite.Models.Productos

@{
    ViewBag.Title = "Productos Editar";
    ViewBag.Modulo = "Productos";
}

@section styles
{
    <link rel="stylesheet" type="text/css" href="~/assets/libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css">
}

@using (Html.BeginForm("Editar", "Productos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Code)
    @Html.HiddenFor(model => model.CreateDate)
    @Html.HiddenFor(model => model.CreateUser)
    @Html.HiddenFor(model => model.HojaSeguridad)
    @Html.HiddenFor(model => model.PermisoVenta)
    @Html.HiddenFor(model => model.PermisoConsumo)


    <div class="row">
        <!-- Column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-body">
                        <h5 class="card-title">Datos Generales</h5>
                        <hr>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Fabricante, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Fabricante, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Fabricante, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Proveedor, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Proveedor, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Proveedor, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <!--/span-->

                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CodIntProducto, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CodIntProducto, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.CodIntProducto, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NroRegQuimico, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.NroRegQuimico, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.NroRegQuimico, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Precursor, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Precursor, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Precursor, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.HojaSeguridad, new { @class = "control-label" })
                                    <br />
                                    <input type="file" multiple="multiple" name="HojasSeguridad" id="HojasSeguridad" class="hidden" onchange="setFileName(this, '#divFileName2'); " />

                                    <label class="btn btn-default" for="Logo"></label>
                                    <br />
                                    <div id="divFileName2">
                                        @Html.DisplayFor(model => model.HojaSeguridad)

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Peligrosidad, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Peligrosidad, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Peligrosidad, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PermisoVenta, new { @class = "control-label" })
                                    <br />
                                    <input type="file" name="PermisoVenta" id="PermisoVenta" class="hidden" onchange="setFileName(this, '#divFileName2'); " />
                                    <label class="btn btn-default" for="Logo"></label>
                                    <br />
                                    <div id="divFileName2">
                                        @Html.DisplayFor(model => model.PermisoVenta)

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PermisoConsumo, new { @class = "control-label" })
                                    <br />
                                    <input type="file" name="PermisoConsumo" id="PermisoConsumo" class="hidden" onchange="setFileName(this, '#divFileName2'); " />
                                    <label class="btn btn-default" for="Logo"></label>
                                    <br />
                                    <div id="divFileName2">
                                        @Html.DisplayFor(model => model.PermisoConsumo)
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Material, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Material, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Material, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Volumen, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Volumen, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Volumen, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Densidad, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Densidad, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Densidad, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TipoResiduo, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.TipoResiduo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TipoResiduo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Gestor, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Gestor, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Gestor, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-actions mt-5">
                            <button type="submit" class="btn waves-effect waves-light btn-primary">Guardar</button>
                            @Html.ActionLink("Cancelar", "Listado", null, new { @class = "btn waves-effect waves-light btn-secondary" })
                        </div>

                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
    </div>




}

@section Scripts {
    <script src="~/assets/libs/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>

}
