﻿@model IEnumerable<WebSite.Models.Productos>

@{
    ViewBag.Title = "Productos Listado";
    ViewBag.Modulo = "Productos";
}

@section styles {
    <link href="~/assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- This page plugin CSS -->
    <style>

        td.details-control {
            background: url('~/dist/js/pages/datatable/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('~/dist/js/pages/datatable/details_close.png') no-repeat center center;
        }
    </style>
}

<div class="row">
    @if (System.Web.HttpContext.Current.Session["RolID"].ToString() != "2")
    {
       <div class="col-md-2">
            @Html.ActionLink("Crear nueva", "Crear", null, new { @class = "btn waves-effect waves-light btn-primary" })
       </div>
    }
</div>

<br />
<br />

<div class="row">
    <div class="col-12">

        <div class="material-card card">
            <div class="card-body">
                <h4 class="card-title">Listado</h4>
                @* <h6 class="card-subtitle">DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function:<code> $().DataTable();</code>. You can refer full documentation from here <a href="https://datatables.net/">Datatables</a></h6>*@

                <div class="table-responsive">

                    <table id="zero_config" class="table table-striped border">

                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Fabricante)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Proveedor)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.CodIntProducto)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Peligrosidad)
                                </th>


                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nombre)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Fabricante)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Proveedor)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.CodIntProducto)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Peligrosidad)
                                        </td>

                                        
                                        <td>
                                            @if (System.Web.HttpContext.Current.Session["RolID"].ToString() != "2")
                                            {
                                                <a href='@Url.Action("Editar", "Productos", new { id = item.Code })' class="btn btn-primary waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar"><i class='fas fa-pencil-alt'></i></a>
                                            }
                                            <a href='@Url.Action("Detalles", "Productos", new { id = item.Code })' class="mb-xs mt-xs mr-xs btn btn-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Detalles"><i class='fas fa-file-alt'></i></a>
                                            @if (System.Web.HttpContext.Current.Session["RolID"].ToString() == "1")
                                            {
                                                <a href='@Url.Action("Borrar", "Productos", new { id = item.Code })' class="mb-xs mt-xs mr-xs btn btn-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Borrar"><i class='fas fa-trash'></i></a>
                                            }
                                        </td>
                                        

                                    </tr>

                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Fabricante)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Proveedor)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.CodIntProducto)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Peligrosidad)
                                </th>

                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts {
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <!--This page plugins -->
    <script src="~/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/js/pages/datatable/datatable-basic.init.js"></script>
}





