﻿@model WebSite.Models.Empresa

@{
    ViewBag.Title = "Empresas Detalles";
    ViewBag.Modulo = "Empresas";
}

<div class="card">
    <div class="card-body collapse show">
        <h4 class="card-title">Detalles</h4>
        @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
        <hr />
        <ul style="list-style:none;">
            <li><strong>@Html.DisplayNameFor(model => model.CedulaJuridica): </strong>@Html.DisplayFor(model => model.CedulaJuridica)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Nombre): </strong>@Html.DisplayFor(model => model.Nombre)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Telefono): </strong>@Html.DisplayFor(model => model.Telefono)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Nombre): </strong>@Html.DisplayFor(model => model.Nombre)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Fax): </strong>@Html.DisplayFor(model => model.Fax)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Correo): </strong>@Html.DisplayFor(model => model.Correo)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Url): </strong>@Html.DisplayFor(model => model.Url)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Direccion): </strong>@Html.DisplayFor(model => model.Direccion)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Descripcion): </strong>@Html.DisplayFor(model => model.Descripcion)</li>
            <li><strong>@Html.DisplayNameFor(model => model.Visible): </strong>@Html.DisplayFor(model => model.Visible)</li>
            <li><strong>@Html.DisplayNameFor(model => model.CreateDate): </strong>@Html.DisplayFor(model => model.CreateDate)</li>
            <li><strong>@Html.DisplayNameFor(model => model.UpdateDate): </strong>@Html.DisplayFor(model => model.UpdateDate)</li>
            <li><strong>@Html.DisplayNameFor(model => model.CreateUser): </strong>@Html.DisplayFor(model => model.CreateUserName)</li>
            <li><strong>@Html.DisplayNameFor(model => model.UpdateUser): </strong>@Html.DisplayFor(model => model.UpdateUserName)</li>


            <br />
            @Html.ActionLink("Ir a Editar", "Editar", new { id = Model.Code }, new { @class = "btn waves-effect waves-light btn-primary" })
            @Html.ActionLink("Cancelar", "Listado", null, new { @class = "btn waves-effect waves-light btn-secondary" })
        </ul>


    </div>
</div>
