﻿@model WebSite.Models.Usuario

@{
    Layout = null;
}

<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/logos/favicon.ico">
    <title>APL - Login</title>
    <!-- Custom CSS -->
    <link href="~/dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(../../assets/images/big/auth-bg.jpg) no-repeat center center;">
            <div class="auth-box">
                <div id="loginform">
                    <div class="logo">
                        <span class="db"><img src="~/assets/images/logos/logoExample.png" alt="logo" /></span>
                        <br />
                        <br />
                        @*<h5 class="font-medium mb-3">Iniciar Sesi&oacute;n</h5>*@
                    </div>
                    <!-- Form -->
                    <div class="row">
                        <div class="col-12">
                            @using (Html.BeginForm(Html.BeginForm("Login", "Sesion", FormMethod.Post, new { id = "form-login" })))
                            {
                                @Html.AntiForgeryToken()
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                                    </div>
                                    @Html.EditorFor(model => model.NombreUsuario, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Usuario" } })
                                    @*<input type="text" class="form-control form-control-lg" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">*@
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                                    </div>
                                    @Html.EditorFor(model => model.Contrasenia, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Contraseña" } })
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">Recordarme</label>
                                            <a href="javascript:void(0)" id="to-recover" class="text-dark float-right"><i class="fa fa-lock mr-1"></i> Recuperar contrase&ntilde;a</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <div class="col-xs-12 pb-3">
                                        <button class="btn btn-block btn-lg btn-info" type="submit">Iniciar Sesi&oacute;n</button>
                                    </div>
                                </div>

                            }

                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 text-center">
                                    @*<div class="social">
                                            <a href="javascript:void(0)" class="btn  btn-facebook" data-toggle="tooltip" title="" data-original-title="Login with Facebook"> <i aria-hidden="true" class="fab  fa-facebook"></i> </a>
                                            <a href="javascript:void(0)" class="btn btn-googleplus" data-toggle="tooltip" title="" data-original-title="Login with Google"> <i aria-hidden="true" class="fab  fa-google-plus"></i> </a>
                                        </div>*@
                                </div>
                            </div>
                            @*<div class="form-group mb-0 mt-2">
                                    <div class="col-sm-12 text-center">
                                        ¿No tiene cuenta? <a href="authentication-register1.html" class="text-info ml-1"><b>Registrarse</b></a>
                                    </div>
                                </div>*@

                        </div>
                    </div>
                </div>

                @using (Html.BeginForm(Html.BeginForm("Recuperar", "Sesion", FormMethod.Post, new { id = "recoverform" })))
                {
                    <div class="logo">
                        <span class="db"><img src="~/assets/images/logos/logoExample.png" alt="logo" /></span>
                        <br /> <br />
                        <h5 class="font-medium mb-3">Recuperar contrase&ntilde;a</h5>
                        <span>Ingrese el correo asociado a su cuenta y le enviaremos una contrase&ntilde; temporal.</span>
                    </div>
                    <div class="row mt-3">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Correo electrónico" } })
                            </div>
                        </div>
                        <!-- pwd -->
                        <div class="form-group">
                            <div class="col-md-12">
                                <button class="btn btn-block btn-lg btn-danger" type="submit" name="action">Enviar</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
        $('[data-toggle="tooltip"]').tooltip();
        $(".preloader").fadeOut();
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        $('#to-recover').on("click", function () {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
    </script>
</body>

</html>

