﻿@model IEnumerable<WebSite.Models.TipoPrioridad>


@{
    ViewBag.Title = "Tipos de prioridad Listado";
    ViewBag.Modulo = "Tipos de prioridad";
}


@section styles {
    <link href="~/assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- This page plugin CSS -->
    <style>

        td.details-control {
            background: url('~/dist/js/pages/datatable/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('~/dist/js/pages/datatable/details_close.png') no-repeat center center;
        }
    </style>
}


@Html.ActionLink("Crear nuevo", "Crear", null, new { @class = "btn waves-effect waves-light btn-primary" })
<br />
<br />

<div class="row">
    <div class="col-12">

        <div class="material-card card">
            <div class="card-body">
                <h4 class="card-title">Listado</h4>
                @* <h6 class="card-subtitle">DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function:<code> $().DataTable();</code>. You can refer full documentation from here <a href="https://datatables.net/">Datatables</a></h6>*@

                <div class="table-responsive">

                    <table id="zero_config" class="table table-striped border">

                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Code)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Visible)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreateDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UpdateDate)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Code)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Visible)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreateDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UpdateDate)
                                    </td>
                                    <td>
                                        <a href='@Url.Action("Editar", "TiposPrioridad", new { id = item.Code })' class="btn btn-primary waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar"><i class='fas fa-pencil-alt'></i></a>
                                        <a href='@Url.Action("Detalles", "TiposPrioridad", new { id = item.Code })' class="mb-xs mt-xs mr-xs btn btn-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Detalles"><i class='fas fa-file-alt'></i></a>
                                        <a href='@Url.Action("Borrar", "TiposPrioridad", new { id = item.Code })' class="mb-xs mt-xs mr-xs btn btn-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Borrar"><i class='fas fa-trash'></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Code)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Visible)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreateDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UpdateDate)
                                </th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts {
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <!--This page plugins -->
    <script src="~/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/js/pages/datatable/datatable-basic.init.js"></script>
}
